{% extends "./t-layout.html" %} {% block content %}
<article>
	<section class="j-scrollLinked content partners" id="partners">
		<div class="content__wrapper">
		<ul class="partners">
			<li>
				<h2>Business partner</h2>
				<a href="http://www.generali.it/generaliit/home.do" title="Generali" target="_blank"><img src="/images/generali-alta.png" alt="Generali"></a>
			</li>
			<li>
				<h2>Development partner</h2>
				<a href="http://www.fido.ca/" title="Fido" target="_blank"><img src="/images/fido.png" alt="Fido"></a>
			</li>
		</ul>
	</div>
		<div class="content__wrapper">
			<h1>Gold Partners</h1>
			<ul>
				<li>
					<a href="//asseco.com/" title="Asseco" target="_blank"><img src="https://www.novathon.net/wp-content/uploads/2017/03/asseco-logo_2.png" alt="Asseco"></a>
				</li>
				<li>
					<a href="http://www.reply.eu/en/" title="Reply" target="_blank"><img src="https://www.novathon.net/wp-content/uploads/2017/03/reply-logo_2.png" alt="Reply"></a>
				</li>
				<li>
					<a href="http://www.bitmama.it/" title="Bitmama" target="_blank"><img src="https://www.novathon.net/wp-content/uploads/2017/03/Bitmama_HD.png" alt="Bitmama"></a>
				</li>
				<li>
					<a href="http://croz.net/en/" title="Croz" target="_blank"><img src="https://www.novathon.net/wp-content/uploads/2017/03/croz.png" alt="Croz"></a>
				</li>
				<li>
					<a href="http://armundia.com/en/" title="Armundia" target="_blank"><img src="https://www.novathon.net/wp-content/uploads/2017/03/armundia.png" alt="Armundia"></a>
				</li>
				<li>
					<a href="//www.neos.hr/" title="Neos" target="_blank"><img src="https://www.novathon.net/wp-content/uploads/2017/03/Neos.jpg" alt="Neos"></a>
				</li>
				<li>
					<a href="http://www.evolva.hr/en/" title="Evolva" target="_blank"><img src="https://www.novathon.net/wp-content/uploads/2017/03/Evolva.png" alt="Evolva"></a>
				</li>
				<li>
					<a href="//www.oracle.com/" title="Oracle" target="_blank"><img src="https://www.novathon.net/wp-content/uploads/2017/03/Oracle_FinancialServices_Industry_Web_Clr.jpg" alt="Oracle"></a>
				</li>
				<li>
					<a href="//www.koios-consulting.co.uk/" title="Koios" target="_blank"><img src="https://www.novathon.net/wp-content/uploads/2017/03/Koios_OK.png" alt="Koios"></a>
				</li>
			</ul>
			<h2>Partners</h2>
			<ul class="partners">
				<li>
					<a href="//www.tis.hr/" title="TIS" target="_blank"><img src="https://www.novathon.net/wp-content/uploads/2017/03/TIS_LogoOIS_vector.png" alt="TIS"></a>
				</li>
				<li>
					<a href="http://www.svgroup.hr/en/" title="SV Group" target="_blank"><img src="https://www.novathon.net/wp-content/uploads/2017/03/SVGroup.png" alt="SV Group"></a>
				</li>
			</ul>
		</div>
	</section>
</article>
{% endblock %}
