{% extends "./t-layout.html" %} {% block content %}
<article>
  <section class="j-scrollLinked content hilton" id="hilton">
      <div class="content_wrapper">
          <div class="content_wrapper__img">
            <img src="/images/hilton.png" alt="hilton">
          </div>
          <div class="content_wrapper__copy">
						<h2>title</h2>
            <p>Join <stroeng>Novathon #withPBZ</strong>, a 24-hour innovative marathon to create <strong>cutting-edge applications</strong> for responsive, mobile and branch banking!</p>
            <p>If you are a <strong>web designer</strong>, a <strong>developer</strong>, a <strong>marketing specialist</strong> or a <strong>university student</strong> in a related field, it’s your time to set free your creative spirit and help us kick-starting the development of new banking <a href="/link" title="link"> solutions</a>!</p>
          </div>
      </div>
  </section>
</article>
{% endblock %}
