{% extends "./t-layout.html" %}
{% block content %}
<section class="{{index.class}}">
  <ul>
{% for page in index.pages %}
    <li><a href="{{page.name}}.html">{{page.name}}</a></li>
{%- endfor %}
  </ul>
  <br>
  <ul>
{% for dem in dem.pages %}
    <li><a href="{{dem.name}}.html">{{dem.name}}</a></li>
{%- endfor %}
  </ul>
</section>
{% endblock %}
