{% extends "./t-layout.html" %}
{% block content %}
<section class="{{login.class}}">
    <div class="loginWrapper">
      <div class="loginWrapper__img">
        <img src="/images/logo.png" alt="">
      </div>
    	<div class="loginForm">
	      <div class="wrap">
	        <div class="loginForm__intro">
	          Sign up to Novathon
	        </div>
	        <div class="loginForm__socialLogin">
	          <a class="loginForm__socialLogin--link" href="#"><span class="icon-facebook"></span>facebook</a>
	          <a class="loginForm__socialLogin--link" href="#"><span class="icon-40-google-plus"></span>google</a>
	          <a class="loginForm__socialLogin--link" href="#"><span class="icon-twitter"></span>twitter</a>
	        </div>
	        <div class="loginForm__titleSection">
	          <span>or sign up with</span>
	        </div>
	        <form class="loginForm__form" action="/" method="post">
            <input name="action" value="bit_novathon_subscriptions_register_standalone" type="hidden">
            <div class="loginForm__form--floating">
              <input type="name" name="name" value="" >
              <label>Name</label>
            </div>
            <div class="loginForm__form--floating">
              <input type="surname" name="surname" value="" >
              <label>Surname</label>
            </div>
            <div class="loginForm__form--floating">
              <input type="email" name="email" value=""  >
              <label>Email</label>
            </div>
            <div class="loginForm__form--floating">
              <input type="password" name="password" value=""  >
              <label>Password</label>
            </div>
            <input id="checkAgree" type="checkbox" name="termsAndCondition" value="1">
	          <label class="terms" for="checkAgree">By starting you agree to HackerEart's <a href="#">Terms of Service</a> and <a href="#">Privacy</a></label>
	          <input class="btn__submit--login" type="submit" name="" value="sign up">
	        </form>
	        <div class="loginForm__alredyR">
	          Alredy have an account? <a href="#">Log in</a>
	        </div>
          <div class="loginForm__errorBox">
            <ul>
              <li>error</li>
              <li>error</li>
              <li>error</li>
            </ul>
          </div>
	      </div>
    	</div>
		</div>
</section>
{% endblock %}
