{% extends "./t-layout.html" %} {% block content %}
<section class="{{login.class}}">
    <div class="loginWrapper">
        <div class="loginWrapper__img">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="regForm--resetPw">
          <div class="wrap">
            <div class="loginForm__intro">
                <div class="loginForm__intro--user">
                    <span class="icon-user"></span>
                    <span class="line-reset"></span>
                    <span class="line-reset"></span>
                </div>
                <span class="underline-title-span">Reset Password</span>
            </div>
            <p class="infoText">Enter your email and click the link that we will send you to reset your password.</p>
            <form class="regForm__form" action="/" method="post">
              <div class="loginForm__form--floating">
                <input type="email" name="name" value="" required>
                <label>Email</label>
              </div>
              <input class="btn__submit--resetPw" type="submit" name="" value="continue">
              <input class="btn__submit--cancel" type="reset" name="" value="cancel">
            </form>
          </div>
        </div>
    </div>
</section>
{% endblock %}
