{% extends "./t-layout.html" %} {% block content %}
<section class="{{login.class}}">
    <div class="loginWrapper">
        <div class="loginWrapper__img">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="regForm--resetPwNew">
          <div class="wrap">
            <div class="loginForm__intro">
                <div class="loginForm__intro--succ">
                    <img src="/images/mark-succes.png" alt="success">
                    <span class="line-reset"></span>
                    <span class="line-reset"></span>
                </div>
                <span class="underline-title-span">Reset Password</span>
            </div>
            <p class="infoText">Your password has been changed successfully!</p>
              <a class="btn__submit--login" type="submit" name="" >continue</a>
          </div>
        </div>
    </div>
</section>
{% endblock %}
