{% extends "./t-layout.html" %} {% block content %}
<section class="{{login.class}}">
    <div class="loginWrapper">
        <div class="loginWrapper__img">
            <img src="/images/logo.png" alt="">
        </div>
        <form class="regForm" name="complete-registration-form">
            <div class="wrap">
                <div class="loginForm__intro">
                  <div class="loginForm__intro--succ">
                      <img src="/images/mark-profile.png" alt="setup">
                      <span class="line-reset"></span>
                      <span class="line-reset"></span>
                  </div>
                    <span class="underline-title-span">Hello Claire,</span>
                </div>
                <p class="infoText">Complete your Comp Novathon #withPBZ!</p>
                <div class="regForm__form">
                    <div class="regForm__form--wrap">
                      <div class="regForm__form--selects">
                        <div class="regForm__form--selects--wrapper">
                          <label>Date of birth</label>
                            <div class="selectWrap">
                                <select name="day">
                                  <option value="">dd</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                </select>
                            </div>
                            <div class="selectWrap">
                                <select name="month">
                                  <option value="">mm</option>
                                  <option value="1">1</option>
                                  <option value="2">2</option>
                                  <option value="3">3</option>
                                </select>
                            </div>
                            <div class="selectWrap">
                                <select name="year">
                                  <option value="">yyyy</option>
                                  <option value="2017">2017</option>
                                  <option value="2016">2016</option>
                                </select>
                            </div>
                          </div>
                          <label>Phone number</label>
                          <div class="regForm__form--tel">
                              <div class="selectWrap">
                                  <select name="nation">
                                    <option value="italy">it</option>
                                    <option value="spain">es</option>
                                  </select>
                              </div>
                              <input type="text" name="tel" value="">
                          </div>
                      </div>
                      <div class="regForm__form--selects">
                        <div class="selectWrap--role">
                            <select name="day">
                              <option value="">Select your role</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="selectWrap--otherInput">
                          <input placeholder="Please specify" type="text" name="other" value="">
                        </div>
                      </div>
                      <div class="regForm__form--selects">
                        <div class="selectWrap--profession">
                            <select name="day">
                              <option value="">Title / Profession</option>
                              <option value="1">1</option>
                              <option value="2">2</option>
                              <option value="3">3</option>
                              <option value="Other">Other</option>
                            </select>

                        </div>
                        <div class="selectWrap--otherInput">
                          <input placeholder="Please specify" type="text" name="other" value="">
                        </div>
                      </div>
                    </div>
                    <p>Select a challange</p>
                    <div class="regForm__form--radios">
                        <div class="radioWrap">
                            <input id="a" type="radio" name="challenge" value="a">
                            <label for="a">a</label>
                            <ul>
                              <li>Build appealing features which make payments fast, engaging and fun.</li>
                              <li>Meet the needs of today’s sharing economy, via social media usage, producing Person 2 Person and Person 2 Group solutions for payments.</li>
                              <li>Enhance the shopping experience by identifying possible one-stop-shop solutions that offer the same instant and efficient practice to the customers, regardless of whether they are online or on-site.</li>
                            </ul>
                        </div>
                        <div class="radioWrap">
                            <input id="b" type="radio" name="challenge" value="b">
                            <label for="b">b</label>
                            <ul>
                              <li>Build appealing features which make payments fast, engaging and fun.</li>
                              <li>Meet the needs of today’s sharing economy, via social media usage, producing Person 2 Person and Person 2 Group solutions for payments.</li>
                              <li>Enhance the shopping experience by identifying possible one-stop-shop solutions that offer the same instant and efficient practice to the customers, regardless of whether they are online or on-site.</li>
                            </ul>
                        </div>
                        <div class="radioWrap">
                            <input id="c" type="radio" name="challenge" value="c">
                            <label for="c">c</label>
                            <ul>
                              <li>Build appealing features which make payments fast, engaging and fun.</li>
                              <li>Meet the needs of today’s sharing economy, via social media usage, producing Person 2 Person and Person 2 Group solutions for payments.</li>
                              <li>Enhance the shopping experience by identifying possible one-stop-shop solutions that offer the same instant and efficient practice to the customers, regardless of whether they are online or on-site.</li>
                            </ul>
                        </div>
                        <div class="radioWrap">
                            <input id="d" type="radio" name="challenge" value="d">
                            <label for="d">d</label>
                            <ul>
                              <li>Build appealing features which make payments fast, engaging and fun.</li>
                              <li>Meet the needs of today’s sharing economy, via social media usage, producing Person 2 Person and Person 2 Group solutions for payments.</li>
                              <li>Enhance the shopping experience by identifying possible one-stop-shop solutions that offer the same instant and efficient practice to the customers, regardless of whether they are online or on-site.</li>
                            </ul>
                        </div>
                        <div class="radioWrap">
                            <input id="e" type="radio" name="challenge" value="e">
                            <label for="e">e</label>
                            <ul>
                              <li>Build appealing features which make payments fast, engaging and fun.</li>
                              <li>Meet the needs of today’s sharing economy, via social media usage, producing Person 2 Person and Person 2 Group solutions for payments.</li>
                              <li>Enhance the shopping experience by identifying possible one-stop-shop solutions that offer the same instant and efficient practice to the customers, regardless of whether they are online or on-site.</li>
                            </ul>
                        </div>
                    </div>
                    <input class="btn__submit--login" type="submit" name="" value="sign up">
                </form>
            </div>
        </form>
    </div>
</section>
{% endblock %}
