{% extends "./t-layout.html" %}
{% block content %}
<section class="{{login.class}}">
    <div class="profileWrapper">
      <div class="profileWrapper--top">
        <div class="profileWrapper__img">
          <img src="/images/mark-profile-big.png" alt="profile">
        </div>
        <div class="profileWrapper_title">
          <span class="profileWrapper_title-t">Claire Brown</span>
          <span class="profileWrapper_title-state">Partecipant not confirmed</span>
          <div class="profileWrapper__info">
            <a href="#_"><span class="icon-faq"></span></a>
            <span class="tooltip">You will recieve an email to confirm your presence 20 days before the event.</span>
          </div>
        </div>
        <div class="profileWrapper__download">
          <a href="#_"><span class="icon-download"></span> <span>Download your ticket</span></a>
        </div>
      </div>
      <div class="profileWrapper__generalblock">
        <h2 class="profileWrapper__generalblock__title">General Information</h2>
        <form class="wrap">
          <a href="#_" class="button--edit -js-edit">edit</a>
          <button href="#_" type="reset" class="button--edit -js-cancel" value="cancel">cancel</button>
          <ul>
            <li>
              <span class="icon-mail"></span>
              <span class="label">Email</span>
              <input type="text" name="email" value="Clairebrown92@gmail.com" readonly>
            </li>
            <li>
              <span class="icon-password"></span>
              <span class="label">Password</span>
              <input type="password" name="password" value="**********" readonly>
              <a class="profileChangePw" href="/change-password">change password</a>
            </li>
            <li>
              <span class="icon-Birthday"></span>
              <span class="label">Birthday</span>
              <div class="birtdayWrapper">
                <select name="dd" disabled>
                  <option value="dd">dd</option>
                </select>
                <select name="mm" disabled>
                  <option value="mm">mm</option>
                </select>
                <select name="yyyy" disabled>
                  <option value="yyyy">yyyyyy</option>
                </select>
              </div>
            </li>
            <li>
              <span class="icon-phone"></span>
              <span class="label">Phone</span>
              <input type="text" name="phone" value="346 8930459" readonly>
            </li>
            <li>
              <span class="icon-challenge"></span>
              <span class="label">Challenge</span>
              <select name="challenges" disabled>
                <option value="UX Designer">UX Designer</option>
              </select>
            </li>
            <li>
              <span class="icon-Role"></span>
              <span class="label">Role</span>
              <select name="role" disabled>
                <option value="UX Designer">UX Designer</option>
                <option value="Other">Other</option>
              </select>
              <input class="otherInput" style="display: none;" placeholder="Please specify" type="text" name="other" value="">
            </li>
            <li>
              <span class="icon-ic_Profession"></span>
              <span class="label">Profession</span>
              <select name="profession" disabled>
                <option value="UX Designer">UX Designer</option>
                <option value="Other">Other</option>
              </select>
              <input class="otherInput" style="display: none;" placeholder="Please specify" type="text" name="other" value="">
            </li>
          </ul>
        </form>
      </div>
      <div class="profileWrapper__generalblock">
        <h2 class="profileWrapper__generalblock__title">Create your Team</h2>
        <div class="wrap">
          <p>The team formation session is not opened yet. We will send you an email to remind you when you can create your team.</p>
        </div>
      </div>
      <div class="profileWrapper__generalblock">
        <h2 class="profileWrapper__generalblock__title">Cancel Registration?</h2>
        <div class="wrap">
          <a class="button--edit -js-open" href="#_">cancel</a>
          <p>Please note that once you cancel your registration your previously received QR code will not be valid anymore.</p>
        </div>
      </div>
    </div>
    <div class="section--overlay">
      <div class="boxWrapper__cancel">
        <div class="loginForm__intro">
            <div class="loginForm__intro--succ">
                  <img src="/images/mark-error.png" alt="error">
                <span class="line-reset"></span>
                <span class="line-reset"></span>
            </div>
            <span class="underline-title-span--overlay">Are you sure you want to cancel your registration?</span>
        </div>
        <p class="infoText">Please note that once you cancel your registration your previously received QR code will not be valid anymore.<br>If you change your mind and would like to participate at Novathon #withPBZ, please register again.</p>
        <a class="btn__submit--goback -js-close" href="#">GO BACK TO MY PROFILE</a>
        <a class="btn__submit--cancelReg" href="#">CANCEL REGISTRATION</a>
      </div>
    </div>
</section>
{% endblock %}
