{% extends "./t-layout.html" %} {% block content %}
<section class="{{login.class}}">
    <div class="loginWrapper">
        <div class="loginWrapper__img">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="regForm--resetPwNew">
          <div class="wrap">
            <div class="loginForm__intro">
                <div class="loginForm__intro--user">
                    <span class="icon-user"></span>
                    <span class="line-reset"></span>
                    <span class="line-reset"></span>
                </div>
                <span class="underline-title-span">Reset Password</span>
            </div>
            <p class="infoText">Enter your new password to receive your electronic ticket</p>
            <form class="regForm__form--new" action="/" method="post">
              <div class="regForm__form__inputs">
                <div class="loginForm__form--floating">
                  <input type="password" name="old" value="" required>
                  <label>New Password</label>
                </div>
                <div class="loginForm__form--floating">
                  <input type="password" name="confirm" value="" required>
                  <label>Confirm Password</label>
                </div>
              </div>
              <input class="btn__submit--resetPw" type="submit" name="" value="continue">
              <input class="btn__submit--cancel" type="reset" name="" value="cancel">
            </form>
          </div>
        </div>
    </div>
</section>
{% endblock %}
