{% extends "./t-layout.html" %} {% block content %}
<section class="{{login.class}}">
    <div class="loginWrapper">
        <div class="loginWrapper__img">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="regForm--resetPw">
          <div class="wrap">
            <div class="loginForm__intro">
                <div class="loginForm__intro--succ">
                    <img src="/images/mark-setup.png" alt="setup">
                    <span class="line-reset"></span>
                    <span class="line-reset"></span>
                </div>
                <span class="underline-title-span">Reset Password</span>
            </div>
            <p class="infoText">Please check your mail and click the link we sent you to change your password.</p>
            <a class="btn__submit--returnhome" type="submit" name="" href="/">return to homepage</a>
          </div>
        </div>
    </div>
</section>
{% endblock %}
