{% extends "./t-layout.html" %} {% block content %}
<section class="{{login.class}}">
    <div class="loginWrapper">
        <div class="loginWrapper__img">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="regForm--resetPwNew">
          <div class="wrap">
            <div class="loginForm__intro">
                <div class="loginForm__intro--succ">
                    <img src="/images/mark-error.png" alt="success">
                    <span class="line-reset"></span>
                    <span class="line-reset"></span>
                </div>
                <span class="underline-title-span">This mail has not been confirmed.</span>
            </div>
            <p class="infoText">Please check your mail and click the link we sent you to confirm your registration.</p>
            <a class="btn__submit--login" type="submit" name="" href="/login" >try again</a>
          </div>
        </div>
    </div>
</section>
{% endblock %}
