{% extends "./t-layout.html" %} {% block content %}
<section class="{{login.class}}">
    <div class="loginWrapper">
        <div class="loginWrapper__img">
            <img src="/images/logo.png" alt="">
        </div>
        <div class="regForm--resetPwNew">
          <div class="wrap">
            <div class="loginForm__intro">
                <div class="loginForm__intro--succ">
                    <img src="/images/mark-succes.png" alt="success">
                    <span class="line-reset"></span>
                    <span class="line-reset"></span>
                </div>
                <span class="underline-title-span">Thank you for your registration!</span>
            </div>
            <p class="infoText">We’ve sent an email to: <strong>loremipsum@gmail.com</strong></p>
            <p class="infoText">Haven't received the email?<br>Click <a href="#">here</a> to resend it.</p>
              <a class="btn__submit--returnhome" type="submit" name="" href="/" >return to homepage</a>
          </div>
        </div>
    </div>
</section>
{% endblock %}
