.j-animate.anim-down
  opacity: 0
  transition: all 500ms ease-in-out
  transform: translate3d(0px, 100px, 0px)
.inView.j-animate.anim-down
  opacity: 1
  transform: translate3d(0px, 0px, 0px)

.j-animate.anim-left
  opacity: 0
  transition: all 500ms ease-in-out
  transform: translate3d(100px, 0, 0px)

.inView.j-animate.anim-left
  opacity: 1
  transform: translate3d(0px, 0px, 0px)

.j-animate.anim-right
  opacity: 0
  transition: all 500ms ease-in-out
  transform: translate3d(-100px, 0, 0px)

.inView.j-animate.anim-right
  opacity: 1
  transform: translate3d(0px, 0px, 0px)

.j-animate.anim-zoom
  opacity: 0
  transition: all 500ms ease-in-out
  transform: scale(1.2)

.inView.j-animate.anim-zoom
  opacity: 1
  transform: scale(1)



/* ====================================
 * DEFAULT kEYFRAMES
 * ====================================
@keyframes key0
  0%
    -ms-transform: rotate(0)
    -moz-transform: rotate(0)
    -webkit-transform: rotate(0)
  100%
    -ms-transform: rotate(90deg)
    -moz-transform: rotate(90deg)
    -webkit-transform: rotate(90deg)
  
@keyframes key1
  0% 
    -ms-transform: translateY(0)
    -ms-transform: rotate(0)
    -moz-transform: translateY(0)
    -moz-transform: rotate(0)
    -webkit-transform: translateY(0)
    -webkit-transform: rotate(0)
  20%
    -ms-transform: translateY(10px)
    -moz-transform: translateY(10px)
    -webkit-transform: translateY(10px)
  100%
    -ms-transform: rotate(-45deg)
    -moz-transform: rotate(-45deg)
    -webkit-transform: rotate(-45deg)
  
@keyframes key2
  0% 
    visibility: visible
  20%
    visibility: hidden
  
@keyframes key3
  0% 
    -ms-transform: rotate(0)
    -ms-transform: translateY(0)
    -moz-transform: rotate(0)
    -moz-transform: translateY(0)
    -webkit-transform: rotate(0)
    -webkit-transform: translateY(0)
  20%
    -ms-transform: translateY(-10px)
    -moz-transform: translateY(-10px)
    -webkit-transform: translateY(-10px)
  100%
    -ms-transform: rotate(45deg)
    -moz-transform: rotate(45deg)
    -webkit-transform: rotate(45deg)
    

@keyframes key4
  0% 
    -ms-transform: rotate(90deg)
    -moz-transform: rotate(90deg)
    -webkit-transform: rotate(90deg)
  100%
    -ms-transform: rotate(0deg)
    -moz-transform: rotate(0deg)
    -webkit-transform: rotate(0deg)

@keyframes key5
  0% 
    -ms-transform: rotate(-45deg)
    -moz-transform: rotate(-45deg)
    -webkit-transform: rotate(-45deg)
  20%
    -ms-transform: translateY(10px)
    -moz-transform: translateY(10px)
    -webkit-transform: translateY(10px)
  100%
    -ms-transform: translateY(0)
    -ms-transform: rotate(0)
    -moz-transform: translateY(0)
    -moz-transform: rotate(0)
    -webkit-transform: translateY(0)
    -webkit-transform: rotate(0)

@keyframes key6
  0% 
    visibility: hidden
  20%
    visibility: visible
  
@keyframes key7
  0% 
    -ms-transform: rotate(45deg)
    -moz-transform: rotate(45deg)
    -webkit-transform: rotate(45deg)
  20%
    -ms-transform: translateY(-10px)
    -moz-transform: translateY(-10px)
    -webkit-transform: translateY(-10px)
  100%
    -ms-transform: rotate(0)
    -ms-transform: translateY(0)
    -moz-transform: rotate(0)
    -moz-transform: translateY(0)
    -webkit-transform: rotate(0)
    -webkit-transform: translateY(0)