/* ====================================
 * Footer
 * ==================================== */
footer
	background-color: $color_bgFoooter-black
	padding: 0 20px
	overflow: hidden
	@include breakpoint(md)
		padding: 0 60px
	*
		color: $color-white
		@include font-light()

	.footer__sponsors
		img
			//max-width: 290px
			@include breakpoint(sm)
				max-width: 100%

	.content__row
		width: 100%
		@extend %clearfix
		padding: 45px 0
		&:first-child
			padding-bottom: 30px
			//border-bottom: 1px solid $color_borderFooter*/
		& + *
			border-top: 1px solid $color_borderFooter
		&.main
			padding: 20px 0 25px
			margin-top: -15px
			.footer__sponsors
				line-height: 0
				text-align: center
				img
					width: 180px
				@include breakpoint(sm)
					text-align: left
		@include breakpoint(sm)
			padding: 25px 0
	.content__column
		width: 50%
		float: left
		@include font-size(15)
		line-height: 24px
		@include breakpoint(sm)
			width: 100%
		& + *
			text-align: right
			margin-top: -12px
			line-height: 33px
			img
				margin-left: 15px
			@include breakpoint(sm)
				width: 100%
				text-align: left
				margin-top: 20px
		.hu &
			width: 30%
			@include breakpoint(sm)
				width: 100%
			&:first-child
				width: 70%



	.footer__sponsors, .footer__links
		width: 100%

	ul
		width: 100%
		li
			display: inline-block
			vertical-align: bottom
			@include breakpoint(sm)
				width: 100%
			& + li
				padding-left: 30px

	.footer__links
		text-align: left
		.social
			text-align: right
		ul
			display: inline
			width: 50%
			li

				@include breakpoint(sm)
					padding-bottom: 10px
				& + li
					padding-left: 20px
					@include breakpoint(sm)
						padding-left: 0
					@include breakpoint(md)
						padding-left: 40px

	.footer__sponsors
		font-size: 0
		li
			width: 33.3%
			text-align: center
			@include breakpoint(sm)
				width: 100%
				padding: 20px 0 10px
				text-align: left
			& + li
				padding-left: 0
			&:first-child
				text-align: left
				// img
				// 	max-width: 266px
			&:last-child
				text-align: right
				@include breakpoint(sm)
					text-align: left

footer .content__row
	small
		display: block
		font-size: 12px
		margin-top: 10px
