/* ====================================
 * Header
 * ==================================== */
header
	position: fixed
	top: 0px
	z-index: 90
	width: 100%
	max-height: 65px
	background: none
	overflow: hidden
	max-width: 1440px
	text-align: left
	padding: 15px 30px 20px
	.lt-ie9 &
		max-width: 1380px
	a
		color: $color-white
		&.active
			color: $color-orange
	@include breakpoint(sm)
		background-color: $color-bgHeader
		padding: 20px 0
		overflow: visible
	@include breakpoint(md)
		max-height: 80px
		padding: 20px 30px 30px
	.bg
		background-color: $color-bgHeader
		@include opacity(0.8)
		width: 100%
		height: 100%
		position: absolute
		left: 0
		top: 0
		.lt-ie9 &
			height: 85%

	.content__wrapper
		width: 100%
		margin: 0 auto
		position: relative
		.lt-ie9 &
			max-width: 1380px
		nav
			text-align: right
			position: relative
			z-index: 6
			float: left
			width: 75%
			font-size: 0
			@include breakpoint(sm)
				width: 100%
				background-color: $color-bgHeader
			@include breakpoint(md)
				width: 86%
			ul
				font-size: 0
				display: inline-block
				vertical-align: baseline
				list-style: none
				overflow: hidden
				text-align: center
				@include breakpoint(sm)
					padding: 20px 0 0
					float: left
					text-align: center
					width: 100%
					height: 0
					-webkit-transition: height 0.5s ease-in-out
					transition: height 0.5s ease-in-out
				.loginButton, .signUpButton
					+font-size(14)
					border: 1px solid #ffffff
					padding: 5px 10px
					margin-left: 10px
				.loginButton
					margin-left: 20px
				li
					@include font-size(14)
					@include breakpoint(sm)
						@include font-size(20)
						padding: 10px 0
						width: 100%
						margin: 0
						&:first-child
							border-top: 1px solid $color-white
					@include breakpoint(lg)
						@include font-size(14)
					@include breakpoint(lg)
						@include font-size(18)
					display: inline-block
					vertical-align: middle
					color: $color-white
					& + li
						padding-left: 20px
						@include breakpoint(sm)
							padding-left: 0
						@include breakpoint(md)
							padding-left: 20px
						@include breakpoint(lg)
							padding-left: 30px
					a
						color: $color-white
						&.active
							color: $color-orange
					&.lang
						width: auto
						margin-left: 20px
						padding: 5px 10px
						border: 1px solid $color-white
						background: url(../images/dropdown-arrow.png) 35px 14px no-repeat
						@include breakpoint(sm)
							margin-left: 0
							border: 0
							padding: 20px 0
							background: none
							select
								display: none
							span
								display: block
						.ie9 &, .lt-ie9 &
							width: 63px
							overflow: hidden
							outline: 0
							@include breakpoint(sm)
								width: auto
						span
							display: none
							@include breakpoint(sm)
								display: block
							a
								padding: 0 20px
						select
							background: none
							width: 100%
							@include font-size(14)
							color: $color-white
							border: 0
							padding-right: 17px
							text-transform: uppercase
							outline: 0
							overflow: hidden
							-webkit-appearance: none
							-moz-appearance: none
							-ms-appearance: none
							-o-appearance: none
							appearance: none
							padding-right: 20px
							.ie9 &, .lt-ie9 &
								width: 100px
								padding-left: 10px
								margin-left: -10px
								color: $color-white
								&:active
									color: $color-black
								&:focus
									background-color: $color-white
									color: $color-black
							option
								background-color: $color-black
								.ie9 &, .lt-ie9 &, &:focus
									background: none
						select:focus::-ms-value
							background: none
					a:hover
						color: $color-orange
						text-decoration: none
		.logo
			line-height: 0
			width: 25%
			@include breakpoint(sm)
				margin-left: 30px
			@include breakpoint(md)
				width: 14%
			.lt-ie9 &
				padding-top: 10px
			float: left
			position: relative
			z-index: 6
			a
				font-size: 0
			img
				max-width: 203px
				//width: 100%
				@include breakpoint(sm)
					max-width: 160px
					width: auto
				@include breakpoint(md)
					width: initial
				.lt-ie9
					width: 203px
			span
				font-size: 33px
				color: $color-white
					width: auto
				.lt-ie9
					width: 203px


		.mobile-toggle
			display: none
			cursor: pointer
			font-size: 20px
			position: absolute
			right: 30px
			top: 0
			width: 30px
			-webkit-transform: rotate(0)
			-ms-transform: rotate(0)
			-moz-transform: rotate(0)
			transform: rotate(0)
			-webkit-animation: key4 0.7s
			-ms-animation: key4 0.7s
			-moz-animation: key4 0.7s
			@include breakpoint(sm)
				display: block
			.lt-ie9 &
				top: 15px
			span
				width: 30px
				height: 4px
				margin-bottom: 6px
				border-radius: 1000px
				background: #8f8f8f
				display: block
				&:first-child
					-webkit-transform: rotate(0)
					-ms-transform: rotate(0)
					-moz-transform: rotate(0)
					transform: rotate(0)
					-webkit-animation: key5 0.7s
					-ms-animation: key5 0.7s
					-moz-animation: key5 0.7s
				&:nth-child(2)
					visibility: visible
					-webkit-animation: key6 0.7s
					-ms-animation: key6 0.7s
					-moz-animation: key6 0.7s
				&:last-child
					-webkit-transform: rotate(0)
					-ms-transform: rotate(0)
					transform: rotate(0)
					-webkit-animation: key7 0.7s
					-ms-animation: key7 0.7s
					-moz-animation: key7 0.7s

	&.open-nav
		.mobile-toggle
			-webkit-transform: rotate(90deg)
			-ms-transform: rotate(90deg)
			-moz-transform: rotate(90deg)
			-webkit-animation: key0 0.7s
			-ms-animation: key0 0.7s
			-moz-animation: key0 0.7s
			span
				&:first-child
					-webkit-transform: rotate(-45deg)
					-ms-transform: rotate(-45deg)
					-moz-transform: rotate(-45deg)
					transform: rotate(-45deg)
					-webkit-animation: key1 0.7s
					-ms-animation: key1 0.7s
					-moz-animation: key1 0.7s
				&:nth-child(2)
					visibility: hidden
					-webkit-animation: key2 0.7s
					-ms-animation: key2 0.7s
					-moz-animation: key2 0.7s
				&:last-child
					-webkit-transform: rotate(45deg)
					-ms-transform: rotate(45deg)
					-moz-transform: rotate(45deg)
					transform: rotate(45deg)
					-webkit-animation: key3 0.7s
					-ms-animation: key3 0.7s
					-moz-animation: key3 0.7s
		@include breakpoint(sm)
			nav
				display: block
				ul
					height: 440px
			.no-menu
				ul
					height: 100px
