<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <!-- link rel="stylesheet" href="/css/style.css" -->
    <title>Novathon Ticket</title>
</head>

<body>
    <table width="942" style="background-color: #f5f5f5; padding: 30px">
        <tr>
            <td>
                <table width="882" height="150" style="background-color: #b1c5cc;">
                    <tr>
                        <td style="vertical-align: middle; padding-left: 50px; padding-top: 30px; padding-bottom: 30px;"><img src="{{AssetsUrl}}/images/logo.png" width="80" alt="Novathon logo"></td>
                        <td style="font-family: 'Open Sans'; font-weight: 600; font-size:16px; color:#ffffff; text-align:center; line-height: 18px; padding-left: 300px">THINK, INNOVATE AND CREATE<br>
                            <span style="font-family: 'Open Sans'; font-weight: light; font-size:16px; color:#ffffff;">23-24 September 2017 - Zagreb</span></td>
                    </tr>
                </table>
                <table width="882" style="background-color: #ffffff; padding-top: 50px; padding-bottom: 50px;">
                    <tr>
                        <td>
                            <table style="border-right: 2px solid #e6e6e6; padding-right: 80px" align="left">
                            <tr>
                                <td colspan="3" style="font-family: 'Open Sans'; font-weight: bold; color: #f36f20; font-size: 26px; padding-left: 42px; line-height: 20px">YOUR TICKET<br><span style="font-family: 'Open Sans'; font-weight: normal; font-size:15px; color:#4d4d4d;">NOVATHON #withPBZ </span></td>
                            </tr>
                            <tr>
                                <td width="178" rowspan="3" style="padding-top: 30px; padding-rigth: 31px; padding-left: 31px; vertical-align: top;"><img width="150" height="150" src="{{QrCode}}" alt=""></td>
                                <td style="padding-left: 30px; padding-top:42px; vertical-align:top;" width="40"><img src="{{AssetsUrl}}/images/pdfImg/user.png" width="20" alt=""></td>
                                <td style="font-family: 'Open Sans'; font-weight: 300; color: #f36f20; font-size: 15px; color:#303030;line-height: 20px; padding-top:42px; vertical-align:top;">PARTICIPANT<br><span style="font-family: 'Open Sans';  font-weight: bold; color: #303030; font-size: 16px; color:#303030;line-height: 20px;">{{Name}}</span></td>
                            </tr>
                            <tr>
                                <td style="padding-left: 30px; padding-top:25px; vertical-align:top;" width="40"><img src="{{AssetsUrl}}/images/pdfImg/cal.png" width="20" alt=""></td>
                                <td style="font-family: 'Open Sans'; font-weight: 300; color: #f36f20; font-size: 15px; color:#303030;line-height: 20px; padding-top:25px; vertical-align:top;">DATE AND TIME<br><span style="font-family: 'Open Sans';  font-weight: bold; color: #303030; font-size: 16px; color:#303030;line-height: 20px;">23 - 24 September 2017<br>From 9:00 to 18:00</span></td>
                            </tr>
                            <tr>
                                <td style="padding-left: 30px; padding-top:25px; vertical-align:top;" width="40"><img src="{{AssetsUrl}}/images/pdfImg/poi.png" width="20" alt=""></td>
                                <td style="font-family: 'Open Sans'; font-weight: 300; color: #f36f20; font-size: 15px; color:#303030;line-height: 20px; padding-top:25px; vertical-align:top;">WHERE<br><span style="font-family: 'Open Sans';  font-weight: bold; color: #303030; font-size: 16px; color:#303030;line-height: 20px;">LAUBA<br>Baruna Filipovića 23a, 10000<br>Zagreb - Croatia</span></td>
                            </tr>
                            </table>
                        </td>
                        <td>
                         <table width="400" style="padding-top:30px; margin-left: 0px">
                        <tr>
                            <td style="font-family: 'Open Sans'; font-weight: bold; color:#303030; font-size: 12px; color:#303030;line-height: 12px; vertical-align:top; padding-top: 5px; border-top: 1px solid #e6e6e6;">Notes / Instruction</td>
                        </tr>
                        <tr>
                            <td width="100" style="font-family: 'Open Sans'; font-weight: 400; color:#303030; font-size: 9px; color:#303030;line-height: 12px; padding-top:5px; padding-bottom:20px; vertical-align:top;">Lorem ipsum dolor sit amet, pri in liber assentior vulputate, sit brute laboramus constituam et, mei ad feugait indoctum.<br>Qui te duis utamur necessitatibus.<br>Falli graeco sanctus eu has, sit no agam electram.<br> Vis ea feugiat expetendis necessitatibus, <br>id Decore gloriatur eloquentiam ex nam, est cu fabellas convenire ocurreret.<br> Per in purto veritus ponderum. Eu nam nonumy nostrum percipit, ut quo dictas atomorum corrumpit.</td>
                        </tr>
                        <tr>
                            <td style="font-family: 'Open Sans'; font-weight: bold; color:#303030; font-size: 12px; color:#303030;line-height: 20px; padding-top:5px; vertical-align:top; border-top: 1px solid #e6e6e6;">Gold Partners</td>
                        </tr>
                        <tr>
                            <td style="font-family: 'Open Sans'; font-weight: 400; color:#303030; font-size: 9px; color:#303030;line-height: 12px; padding-top:5px; padding-bottom:20px; vertical-align:top;"><img src="{{AssetsUrl}}/images/pdfImg/gold-partners.jpg" width="400" alt="gold partners" style="display: block;"></td>
                        </tr>
                        </table>
                        </td>
                    </tr>
                </table>
                <table width="882" height="150">
                    <tr>
                        <td style="background-color: #474747; padding-bottom: 20px;">
                            <table style="border-collapse: collapse;" align="center">
                                <tr>
                                    <td valign="middle">
                                        <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;" align="center">
                                            <tr>
                                                <!-- Hero headline goes here. Manually add <br /> to insert line breaks to fine tune. -->
                                                <td style="font-family: 'Open Sans', Arial; font-size: 24px; line-height: 25px; color: #303030; text-align: center; padding-top: 20px;">
                                                    <img width="150" height="76" class="img-block" src="{{AssetsUrl}}/images/demImg/innovation-center-logo-footer.jpg" alt="innovation center logo" width="200">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="background-color: #474747; padding-bottom: 20px;">
                            <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;" align="left">
                                <tr>
                                    <td valign="middle">
                                        <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;" align="center">
                                            <tr>
                                                <!-- Hero headline goes here. Manually add <br /> to insert line breaks to fine tune. -->
                                                <td class="logoMob"  style="font-family: 'Open Sans', Arial; font-size: 24px; line-height: 25px; color: #303030; text-align: center;">
                                                    <img class="img-block" src="{{AssetsUrl}}/images/demImg/pbz.jpg" alt="pbz logo" width="200">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;" align="right">
                                <tr>
                                    <td valign="middle">
                                        <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse;" align="center">
                                            <tr>
                                                <!-- Hero headline goes here. Manually add <br /> to insert line breaks to fine tune. -->
                                                <td class="logoMob" style="font-family: 'Open Sans', Arial; font-size: 24px; line-height: 25px; color: #303030; text-align: center;">
                                                    <img class="img-block" src="{{AssetsUrl}}/images/demImg/intesa-sanpaolo-logo.jpg" alt="sanpaolo logo" width="200">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>
