/* ====================================
 * Global Classes.
 * ====================================

/* Padding
 * ====================================

.padding
  padding: $base-spacing

.padding-vertical
  padding-top: $base-spacing
  padding-bottom: $base-spacing

.padding-vertical-10
  padding-top: 10px
  padding-bottom: 10px

.padding-horizontal
  padding-right: $base-spacing
  padding-bottom: $base-spacing

.padding-horizontal-10
  padding-right: 10px
  padding-bottom: 10px

.padding-top
  padding-top: $base-spacing

.padding-right
  padding-right: $base-spacing

.padding-bottom
  padding-bottom: $base-spacing

.padding-left
  padding-left: $base-spacing

.padding-0
  padding: 0

/* margin
 * ====================================

.margin
  margin: $base-spacing

.margin-vertical
  margin-top: $base-spacing
  margin-bottom: $base-spacing

.margin-vertical-10
  margin-top: 10px
  margin-bottom: 10px

.margin-horizontal
  margin-right: $base-spacing
  margin-bottom: $base-spacing

.margin-horizontal-10
  margin-right: 10px
  margin-bottom: 10px

.margin-top
  margin-top: $base-spacing

.margin-right
  margin-right: $base-spacing

.margin-bottom
  margin-bottom: $base-spacing

.margin-left
  margin-left: $base-spacing

.margin-0
  margin: 0

/* List
 * ====================================

.list-inline
  li
    display: inline-block

/* Floats
 * ====================================

.left
  float: left

.right
  float: right

/* Text Align
 * ====================================

.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right

/* Text Align
 * ====================================

.border
  border: 1px solid #eee

.border-top
  border-top: 1px solid #eee

.border-right
  border-right: 1px solid #eee

.border-bottom
  border-bottom: 1px solid #eee

.border-left
  border-left: 1px solid #eee

/* Utilities
 * ====================================

.break
  display: block
  +breakpoint(lg)
    display: inline

  +breakpoint(md)
    display: inline

  +breakpoint(sm)
    display: inline

.block
  display: block

.inline
  display: inline

.inline-block
  display: inline-block

.fullImg
  max-width: 100%

.sup, sup
  vertical-align: super
  font-size: smaller
  display: inline-block
