/* ====================================
 * Homepage
 * ==================================== */
.wrapper
	position: relative
	max-width: 1440px
	width: 100%
	margin: 0 auto
	.lt-ie9 &
		max-width: 1440px

.color--yellow
	color: $color-yellow !important
	display: inline

.color--orange
	color: $color-orange !important
	display: inline


a
	@include font-semibold()
	&:hover
		text-decoration: underline

h1, h2, h3, h4
	text-transform: none
	text-align: center
	@include font-light()
	line-height: 1.2
h1
	@include font-size(38)
	@include breakpoint(md)
		@include font-size(48)
h2
	@include font-size(44)
h3
	@include font-size(30)
h4
	@include font-size(28)
h1 + p, .about__description
	@include font-size(18)
	@include breakpoint(md)
		@include font-size(22)
	@include font-light()
	margin-bottom: 30px

.content__column
	position: relative

.block__button
	padding: 15px 30px
	width: auto
	text-align: center
	display: inline-block
	border: 3px solid $color-white
	color: $color-white
	text-transform: uppercase
	@include font-bold()
	@include font-size(20)
	letter-spacing: 3px
	min-width: initial
	&.black
		color: $color-black
		border-color: $color-black
	@include breakpoint(md)
		min-width: 365px

select::-ms-expand
	display: none

.small__text
	@include font-size(16)
	line-height: 16px
article
	overflow: hidden
	section
		position: relative
		padding: 50px 60px
		text-align: center
		@include breakpoint(sm)
			padding: 50px 30px
		@include breakpoint(md)
			padding: 70px 60px
		/* ====================================
		 * CANVAS
		 * ==================================== */
		&.canvas
			background-color: $color-bg-canvas
			h1
				line-height: 1
				text-transform: uppercase
				@include font-light()
				@include font-size(38)
				@include breakpoint(sm)
					@include font-size(28)
					margin-bottom: 10px
				@include breakpoint(md)
					@include font-size(48)
				@include breakpoint(lg)
					@include font-size(58)
			h2
				line-height: initial
				text-transform: uppercase
				@include font-size(24)
				@include breakpoint(md)
					@include font-size(38)

			.content__wrapper
				text-align: center
				position: relative
				margin: 70px auto auto
				.logo
					width: 100%
					margin: 0 auto
					@include breakpoint(md)
						width: 50%
					img
						@include breakpoint(sm)
							width: 70%
							max-width: 302px
						.lt-ie9 &
							width: 302px
							height: 401px
				h1, h2
					color: $color-home-grey
					&.greyTitle
						color: $color-home-grey

		/* ====================================
		 * ABOUT
		 * ==================================== */
		&.event
			.event__row
				color: $color-white
				a.small__text
					color: $color-white
			h1
				color: $color-orange
				@include font-size(28)
				text-transform: initial
				@include breakpoint(sm)
					@include font-size(34)
				@include breakpoint(md)
					@include font-size(38)
				@include breakpoint(lg)
					@include font-size(48)
			p
				@include font-size(18)
				margin: 30px auto 0
				width: 100%
				@include breakpoint(md)
					@include font-size(22)
					width: 85%
				span
					@include font-semibold()
			h3
				@include font-size(28)
			.cta1
				font-weight: bold
				color: $color-orange
				margin: 50px 0
				@include font-size(22)
				.block__button
					border-color: #242424
					color: #242424
			.cta2
				font-weight: bold
				color: $color-home-grey
				margin: 10px 0
				@include font-size(22)
			.event__column
				display: inline-block
				vertical-align: top
				width: 32%
				font-size: 0
				text-align: center
				margin: 40px 0
				@include breakpoint(sm)
					width: 100%
					margin-top: 0
					&:first-child
						margin-top: 40px
				@include breakpoint(md)
					width: 30%
					margin: 40px 0
				@include breakpoint(lg)
					margin: 50px 0
				img
					width: 100%
					max-width: 98px
					.lt-ie9 &
						width: 98px
				div
					width: 100%
					text-align: center
					display: table
					min-height: 110px
					height: auto
					margin-top: 25px
					@include font-size(22)
					line-height: 1.3
					a
						text-decoration: underline
						@include font-light()
					@include breakpoint(sm)
						min-height: 80px
						margin-top: 0
					> div
						display: table-cell
						vertical-align: top
					&.event__date
						span
							display: inline-block
							width: 100%
					&.event__where
						@include breakpoint(sm)
							padding-top: 20px
					&.event__prize
						span
							&.label
								width: 100%
								@include breakpoint(md)
									width: auto
						.note
							@include font-light()
							@include font-size(14)
					.hu &
						@include font-size(18)
						@include breakpoint(lg)
							@include font-size(22)

		/* ====================================
		 * winners
		 * ==================================== */
		&.winners,
		&.imageBackground
			position: relative
			padding: 0
			overflow: hidden

			@extend %clearfix
			*
				color: $color-white
			h3
				text-transform: initial
				margin-bottom: 50px
				span
					text-transform: initial
					@include font-semibold()
			> img
				@include breakpoint(sm)
					display: none
			.hu &
				.content__wrapper
					@include breakpoint(lg)
						padding: 70px 60px 50px

			.content__wrapper
				position: absolute
				top: 0
				left: 0
				width: 100%
				padding: 50px 60px
				@include breakpoint(sm)
					padding: 50px 30px
					background-color: $color-blue
					position: relative
				@include breakpoint(md)
					padding: 70px 60px 50px
				h3
					width: 80%
					margin: 20px auto 0
					@include font-size(22)
					line-height: normal

					@include breakpoint(sm)
						margin-top: 0
						@include font-size(20)
						line-height: normal
					.hu &
						margin: 0 auto
						@include font-size(18)
						@include breakpoint(lg)
							@include font-size(22)

				img
					display: block
					margin: 0 auto

				.block__button
					margin-top: 60px
			p
				@include font-size(18)
				margin: 30px auto 0
				width: 100%
				@include breakpoint(md)
					@include font-size(22)
					width: 85%
				span
					@include font-semibold()
			.winners__column
				display: inline-block
				vertical-align: top
				width: 32%
				font-size: 0
				text-align: center
				margin: 40px 0
				@include breakpoint(sm)
					width: 100%
					margin-top: 0
					&:first-child
						margin-top: 40px
				& + *
					@include breakpoint(sm)
						margin-top: 20px
						border-top: 1px solid #cdcdcd
						padding-top: 40px
				@include breakpoint(md)
					margin: 40px 0
				@include breakpoint(lg)
					margin: 50px 0
				img
					width: 100%
					max-width: 98px
					.lt-ie9 &
						width: 98px
				div
					width: 100%
					text-align: center
					display: table
					min-height: 110px
					height: auto
					margin-top: 35px
					padding: 0 15px
					@include font-size(22)
					line-height: 1.3
					height: 460px
					position: relative
					@include breakpoint(sm)
						height: auto
					a
						text-decoration: underline
						@include font-light()
					@include breakpoint(sm)
						min-height: 80px
						margin-top: 0
					> div
						display: table-cell
						vertical-align: top
					&.winners__details
						@include breakpoint(sm)
							padding-top: 20px
					.hu &
						@include font-size(18)
						@include breakpoint(lg)
							@include font-size(22)
					.block__button
						width: 80%
						min-width: inherit
						max-width: 290px
						text-decoration: none
						&:hover
							text-decoration: underline
					.title
						width: 100%
						max-width: 290px
						margin: auto
						display: block
						display: uppercase
						&:after
							content: ''
							display: block
							border-bottom: 1px solid #fff
							width: 200px
							margin: 20px auto
					.about
						@include font-size(20)
						b
							@include font-semibold()
					.members
						@include font-size(18)
					span
						display: inline-block
						vertical-align: top
						width: 100%
					.block__button
						@include breakpoint(md)
							position: absolute
							left: 0
							right: 0
							margin: 0 auto auto
							bottom: 0
		/* ====================================
		 * CHALLENGES
		 * ==================================== */
		&.challenges
			padding-bottom: 0
			background-color: $color-light
			h1
				margin-bottom: 30px
			ul
				text-align: left
				@include font-size(14)
				list-style-type: disc
				padding-left: 20px
				line-height: 20px
			a
				color: $color-orange
				@include font-semibold()
				text-decoration: underline
			p
				width: 100%
				margin: 0 auto
				@include breakpoint(md)
					width: 75%
			.content__wrapper
				padding: 50px 0
				width: 100%
				margin: 0 auto
				text-align: center
				text-align: center
				@include breakpoint(lg)
					padding: 50px 0 0
				.content__row
					.content__column
						width: 100%
						text-align: center
						display: inline-block
						vertical-align: top
						min-height: initial
						height: auto
						margin-bottom: 30px
						@include breakpoint(md)
							text-align: center
							width: 28%
							height: auto
							max-height: 400px
							.hu &
								max-height: 600px
							margin-bottom: 60px
							& + *
								margin-left: 5%
					h4
						text-align: center
						line-height: 1.2
						margin-bottom: 20px
						@include font-size(22)
						@include breakpoint(md)
							text-align: left
					p
						@include font-size(14)
						width: 100%
						margin-bottom: 50px
					& + *
						.content__column
							width: 100%
							@include breakpoint(md)
								width: 30%
		/* ====================================
		 * MENTORS
		 * ==================================== */
		&.media
			@extend %clearfix
			background-color: $color-light
			p
				margin: 30px auto 0
			.content__row
				width: 100%
				padding-top: 20px
				@include breakpoint(sm)
					padding-top: 0
				.content__column
					width: 50%
					float: left
					overflow: hidden
					@include breakpoint(sm)
						width: 100%
						padding: 50px 0
					&:first-child
						padding-top: 0
					img
						display: block
						width: 91.7%
						margin-top: 20px
						margin-bottom: 55px
						margin-left: 2.5%
						@include breakpoint(sm)
							width: 100%
							margin-left: 0
					& + *
						@include breakpoint(sm)
							border-top: 1px solid #cdcdcd
			.block__button
				width: 80%
				min-width: inherit
				max-width: 290px
				border-color: #242424
				color: #242424
				&:hover
					text-decoration: underline
				@include breakpoint(sm)
					@include font-size(14)
					line-height: normal
			.video-container
				position: relative
				width: 97.5% !important
				height: 100% !important
				margin-top: 21px
				margin-bottom: 55px
				padding-bottom: 51.3%
				margin-right: 2.5%
				@include breakpoint(sm)
					margin-right: 0
					width: 100%!important
				iframe
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%

		/* ====================================
		 * MENTORS
		 * ==================================== */
		&.mentors, &.innovation
			margin-bottom: 0
			h1
				@include font-light()
				margin-bottom: 30px
			img
				width: 33%
				@include breakpoint(sm)
					width: 210px
					margin-bottom: 10px
			.content__wrapper
				width: 100%
				margin: 0 auto
				text-align: center
				h4
					@include font-size(24)
					color: $color-orange
					text-transform: initial
					margin-bottom: 10px
					text-align: left
					@include breakpoint(sm)
						text-align: center
					span
						@include font-size(14)
						color: $color-text
						line-height: 24px
						display: block

				.content__column
					margin: 30px 0
					/* width: 28% **/
					width: 100%
					text-align: left
					display: inline-block
					vertical-align: top
					@include breakpoint(sm)
						text-align: center
						margin-bottom: 0
					@include breakpoint(md)
						width: 47%
					.content__wrapper
						text-align: left
					.linkedin__button
						width: auto
						position: absolute
						left: 0
						top: 130px
						padding-left: 0
						img
							width: 100%
					& + *
						@include breakpoint(md)
							margin-left: 3%
					div
						width: 65%
						padding-left: 15px
						display: inline-block
						vertical-align: top
						@include breakpoint(sm)
							width: 100%
							padding-left: 0
						i
							font-style: italic
						p
							@include font-size(14)
							@include breakpoint(sm)
								text-align: center
							span
								@include font-italic()
								@include font-size(16)
		&.innovation
			background-color: $color-light
		/* ====================================
		 * PROGRAM
		 * ==================================== */
		&.program
			background-color: $color_bg-black
			color: $color-white
			padding: 70px 20px
			@include breakpoint(sm)
				padding: 50px 20px
			h1
				margin-bottom: 60px
			.content__wrapper
				.programme__calendar
					@extend %clearfix
					margin-bottom: 20px
					@include breakpoint(sm)
						margin-bottom: 20px
					.calendar__row
						display: block
						@include breakpoint(sm-min)
							display: flex
					.calendar__column
						float: left
						width: 48%
						border: 1px solid $color-border_black
						@include breakpoint(sm)
							width: 100%
							float: none
						.programme__schedule
							font-size: 0
							padding: 20px 0 30px
							@include breakpoint(sm)
								padding: 20px 0
							li
								width: 100%
								display: block
								padding: 10px 0
								text-align: left
								@include font-size(20)
								@include breakpoint(sm)
								@include font-size(18)
								span
									width: 33%
									max-width: 170px
									display: inline-block
									text-align: right
									@include font-light()
									padding: 0 30px 0 10px
									i
										@include font-size(16)
									@include breakpoint(sm)
										width: 100%
										text-align: left

								span + *

									max-width: 65%
									padding: 0 10
									display: inline-block
									vertical-align: top
									text-align: left
									width: auto
									@include breakpoint(sm)
										width: 100%
										max-width: 100%
									@include breakpoint(md)
										width: 78%

						.programme__date
							border-bottom: 1px solid $color-border_black
							@extend %clearfix
							font-style: normal
							.date__wrapper
								@include font-size(28)
								@include font-light()
								display: inline-block
								text-align: left
								float: left
								padding: 20px
								color: $color-lightYellow
								@include breakpoint(sm)

								@include breakpoint(lg)
									@include font-size(48)

								.day
									@include font-semibold()
									color: $color-yellow
								& + *
									@include font-size(28)
									float: right
									padding: 20px
									color: $color-yellow
									@include breakpoint(sm)
										padding: 20px 10px
									@include breakpoint(lg)
										@include font-size(48)

						.note
							text-align: left
							padding: 0 40px 40px
							@include breakpoint(sm)
								padding: 0 10px 40px
					.calendar__column + *
						margin-left: 4%
						@include breakpoint(sm)
							margin: 30px 0
		/* ====================================
		 * PARTNERS
		 * ==================================== */
		&.partners
			padding-left: 20px
			padding-right: 20px
			padding-bottom: 0
			@include breakpoint(lg)
				padding: 70px 60px 50px
			h1
				text-transform: initial
			h2
				@include font-size(36)
				padding-bottom: 30px
				text-transform: initial
			.content__wrapper
				padding-top: 45px
				width: 100%
				ul
					padding-bottom: 50px
					margin: 0 auto
					@include breakpoint(md)
						padding-bottom: 60px
					@include breakpoint(lg)
						padding-bottom: 70px
					li
						text-align: center
						vertical-align: middle
						display: inline-block
						width: 100%
						margin: 10px 0
						@include breakpoint(xs)
							width: 50%
						// @include breakpoint(sm)
						// 	width: 26%
						@include breakpoint(md)
							margin: 0
							width: 33%
						@include breakpoint(lg)
							width: 26%
						& + li
							padding: 0
							@include breakpoint(sm)
								display: inline-block
								width: auto
								margin: 10px 20px
							/*@include breakpoint(md)
								border-left: 1px solid $color-border_grey*/
							.lt-ie9 &
								border-left: 0
						&:nth-child(5)
							@include breakpoint(sm)
								img
									width: 85%
							@include breakpoint(dm)
								img
									width: 100%
							@include breakpoint(lg)
								width: 33%
								img
									width: 100%
						img
							@include breakpoint(sm)
								width: 190px
							@include breakpoint(md)
								width: 190px
							@include breakpoint(lg)
								width: 220px

					&.partners
						font-size: 0px
						li
							width: 100%
							margin: 10px
							@include breakpoint(xs)
								width: 50%
							@include breakpoint(sm-min)
								width: 33%
							@include breakpoint(lg)
								width: 33%
							&:first-child
								img
									max-width: 100%
									width: 100%
							img
								max-width: 207px
								.lt-ie9
									width: 207px
					&.partners__special
						font-size: 0
						h1
							margin-bottom: 25px
						li
							vertical-align: top
							width: 100%
							margin: 0
							+breakpoint(xs)
								width: 50%
							&:nth-child(1)
								img
									width: 100px
							&:nth-child(2)
								img
									width: 80px
		&.winners__details, &.media__details
			@extend %clearfix
			.anchor
				width: 100%
				position: absolute
				top: -30px
				left: 0
				&.first
					top: 0
			&:first-child
				padding-top: 115px
				@include breakpoint(md)
					padding-top: 150px
				.content__wrapper
					padding-top: 50px
			.content__wrapper
				position: relative
			h1
				@include breakpoint(md)
					@include font-size(38)
				@include breakpoint(md)
					@include font-size(42)
				@include breakpoint(lg)
					@include font-size(50)
				sup
					vertical-align: super
					font-size: medium
			ul
				li
					display: inline-block
					vertical-align: top
					width: 19%
					text-align: center
					padding: 40px 10px 0
					@include breakpoint(sm)
						width: 100%
					@include breakpoint(md)
						width: 32%
					@include breakpoint(lg)
						width: 19%
					img
						font-size: 0
						@include breakpoint(md)
							display: block
							width: 198px
							margin: 0 auto 20px
					p
						padding: 0
			.ico
				margin: 40px auto
				display: block
			.title
				@include font-size(24)
				padding-bottom: 20px
				margin-bottom: 20px
				border-bottom: 1px solid #cdcdcd
				display: inline-block
				padding: 0 40px 20px
				@include breakpoint(sm)
					@include font-size(20)
			.btn-back
				position: absolute
				left: 0
				top: -30px
			p
				padding: 40px 0
			&.odd
				background-color: $color-light
			&.even
				background-color: $color-white
			b
				font-weight: 600
		&.media__details
			padding: 25px 60px
			@include breakpoint(sm)
				padding: 35px 30px
			@include breakpoint(md)
				padding: 35px 60px
			h1
				display: inline-block
				margin: 0 auto
				width: auto
				border-bottom: 1px solid #cdcdcd
				padding: 0 5% 5px
			ul
				li
					display: block
					float: left
					@include breakpoint(sm)
						width: 100%
					@include breakpoint(md)
						width: 50%
					@include breakpoint(lg)
						width: 25%
					img
						font-size: 0
						width: 100%
						@include breakpoint(md)
							width: 115%
							height: auto
						@include breakpoint(lg)
							width: 170%
							margin-left: -20%
			.main-block
				ul li
					@include breakpoint(md)
						width: 50%
			.block__button
				border-color: #242424
				color: #242424
				margin-top: 40px
				margin-bottom: 40px
				transition: all 600ms ease-in-out
				-webkit-transition: all 600ms ease-in-out
				-moz-transition: all 600ms ease-in-out
				-o-transition: all 600ms ease-in-out

			&.photos
				.gallery a
					display: inline-block
					vertical-align: top
					height: 264px
					overflow: hidden
					width: 100%
					@include breakpoint(sm)
						height: auto
				ul
					li
						display: none
			.anchor
				top: -50px
					/* ====================================
					 * previousWinner
					 * ==================================== */
		&.previousWinner
			position: relative
			padding: 0
			overflow: hidden
			@extend %clearfix
			*
				color: $color-white
				@include breakpoint(md)
					color: $color-black
			h3
				text-transform: initial
				margin-bottom: 50px
				span
					text-transform: initial
					@include font-semibold()
			img
				@include breakpoint(sm)
					display: none
			.hu &
				.content__wrapper
					@include breakpoint(lg)
						padding: 70px 60px 50px

			.content__wrapper
				width: 100%
				padding: 50px 60px
				@include breakpoint(sm)
					padding: 50px 30px
					background-color: $color-blue
					position: relative
				@include breakpoint(md)
					padding: 70px 60px 50px
				h3
					width: 80%
					margin: 20px auto 0
					@include font-size(22)
					line-height: normal

					@include breakpoint(sm)
						margin-top: 0
						@include font-size(20)
						line-height: normal
					.hu &
						margin: 0 auto
						@include font-size(18)
						@include breakpoint(lg)
							@include font-size(22)

				img
					display: block
					margin: 0 auto

				.block__button
					margin-top: 60px
			p
				@include font-size(18)
				margin: 30px auto 0
				width: 100%
				@include breakpoint(md)
					@include font-size(22)
					width: 85%
				span
					@include font-semibold()
			.winners__column
				display: inline-block
				vertical-align: top
				width: 32%
				font-size: 0
				text-align: center
				margin: 40px 0
				@include breakpoint(sm)
					width: 100%
					margin-top: 0
					&:first-child
						margin-top: 40px
				& + *
					@include breakpoint(sm)
						margin-top: 20px
						border-top: 1px solid #cdcdcd
						padding-top: 40px
				@include breakpoint(md)
					margin: 40px 0
				@include breakpoint(lg)
					margin: 50px 0
				img
					width: 100%
					max-width: 98px
					.lt-ie9 &
						width: 98px
				div
					width: 100%
					text-align: center
					height: auto
					margin-top: 35px
					padding: 0 15px
					@include font-size(22)
					line-height: 1.3
					position: relative
					@include breakpoint(sm)
						height: auto
					a
						text-decoration: underline
						@include font-light()
					@include breakpoint(sm)
						min-height: 80px
						margin-top: 0
					&.winners__details
						@include breakpoint(sm)
							padding-top: 20px
					.hu &
						@include font-size(18)
						@include breakpoint(lg)
							@include font-size(22)
					.block__button
						width: 80%
						min-width: inherit
						max-width: 290px
						text-decoration: none
						&:hover
							text-decoration: underline
					.title
						width: 100%
						max-width: 290px
						margin: auto
						display: block
						display: uppercase
					.about
						margin-bottom: 45px
						@include font-size(20)
						b
							@include font-semibold()
					.members
						text-transform: uppercase
						@include font-size(18)
					span
						display: inline-block
						vertical-align: top
						width: 100%
					.block__button
						@include breakpoint(md)
							position: absolute
							left: 0
							right: 0
							margin: 0 auto auto
							bottom: 0
		&.hilton
			+clearfix
			.content_wrapper__img
				width: 50%
				display: block
				margin: 0 auto
				img
					width: 70%
				+breakpoint(xs)
					width: 30%
					float: left
					max-width: 300px
			.content_wrapper__copy
				h2
					+font-size(18)
					text-align: left
					+font-semibold
					margin-bottom: 15px
				width: 100%
				padding-left: 20px
				text-align: left
				+breakpoint(xs)
					width: 70%
					float: left
	.video-container
		width: 70%
		position: relative
		padding-bottom: 36.25%
		height: 0
		overflow: hidden
		margin: 40px auto 0
		@include breakpoint(sm)
			width: 100%
			padding-bottom: 55.25%
		iframe
			position: absolute
			top: 0
			left: 0
			width: 100%
			height: 100%
			right: 0


article section.imageBackground
	.content_wrapper
		position: absolute
		top: 0
		left: 0
		width: 100%
		padding: 50px 60px
		p
			margin-top: 15px
		@include breakpoint(sm)
			padding: 50px 30px
			background-color: $color-blue
			position: relative
		@include breakpoint(md)
			padding: 70px 60px 50px
