.regForm--resetPw
  @extend .regForm
.loginForm__intro--succ
  @extend .loginForm__intro--user
  padding: 0
  background: none
.line-reset
  position: absolute
  top: 0
  height: 2px
  background: #cecece
  display: block
  width: 24px
  top: 50%
  border-radius: 5px
  &:nth-child(3)
    right: 105%
    &::after
      float: right
  &:nth-child(2)
    left: 105%
    &::after
      float: left
  &::after
    content: ""
    display: block
    height: 2px
    background: #cecece
    position: relative
    top: 6px
    width: 50%
    border-radius: 5px
.regForm__form
  .loginForm__form--floating
    margin-left: auto
    margin-right: auto
    float: none
.btn__submit--cancel
  @extend .btn__submit--login
  background: $color-white
  border-color: $btn-cancel
  color: $btn-cancel
  float: none
  padding: 10px 18px
  +breakpoint(xs)
    margin-right: 10px
    float: right
  &:hover
    background-color: $btn-cancel
    color: $color-white
.btn__submit--resetPw
  @extend .btn__submit--login
  margin-bottom: 10px
  float: none
  +breakpoint(xs)
    float: right
.btn__submit--returnhome
  @extend .btn__submit--login
  width: 250px
