.section--login
.loginWrapper
  +breakpoint(xs-t)
    width: 60%
    margin-top: 0
    position: relative
    margin-left: auto
    margin-right: 10%
    padding-top: 30px
.loginWrapper__img
  width: 20%
  margin-left: auto
  margin-right: auto
  margin-bottom: 20px
  margin-top: 20px
  +breakpoint(xs-t)
    position: absolute
    top: 67px
    left: -30%
    margin: 0
.loginForm
  position: relative
  text-align: center
  background-color: $color-white
  padding-bottom: 80px
  +clearfix
  .wrap
    +clearfix
    width: 90%
    margin: 0 auto
  #checkAgree, #checkAgree_social
    display: none
    &:checked + .terms::after
      display: block
  .terms
    clear: both
    color: $greyInput
    text-align: left
    +font-size(14)
    +font-light
    display: block
    padding-left: 30px
    margin-bottom: 21px
    position: relative
    cursor: pointer
    &::before
      content: ""
      position: absolute
      left: 0
      top: 3px
      width: 20px
      height: 20px
      border: 1px solid $color_border-grey
    &::after
      font-family: "icomoon" !important
      content: "\e93f"
      position: absolute
      +font-size(43)
      left: -7px
      top: 5px
      color: $color-orange
      display: none
    &[for="checkAgree_social"]
      display: inline-block
      text-align: center
      &+ .loginForm__errorBox
        float: none
    a
      text-decoration: underline
      color: $color-black
.loginForm__loader
  display: none
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  opacity: 0.7
  background: #303030
  img
    width: 30%
    display: block
    margin: 0 auto
.loginForm__intro
  +font-size(24)
  +font-semibold()
  color: $color-orange
  padding-top: 30px
  margin-bottom: 40px

.loginForm__socialLogin
  position: relative
  font-size: 0px
  margin-bottom: 30px
  width: 100%
  margin: 0 auto
  margin-bottom: 16px
  +breakpoint(xs)
    width: 70%
  +breakpoint(xs-t)
    width: 100%
  +breakpoint(sm-min)
    width: 70%
.loginForm__socialLogin--link
  padding: 5.5px 0
  position: relative
  display: inline-block
  width: 32%
  height: 43px
  vertical-align: top
  margin-right: 1%
  color: $color-white
  border: 2px solid
  text-transform: capitalize
  +font-size(12)
  +breakpoint(xs)
    +font-size(14)
  &[data-action="subscribe-facebook"], &[data-action="login-facebook"]
    background-color: $color-fb
    border-color: $color-fb
  &[data-action="subscribe-google"], &[data-action="login-google"]
    border-color: $color-g
    background-color: $color-g
    span
      +font-size(25)
      +line-height(18)
      top: 4px
  &[data-action="subscribe-google-plus"]
    border-color: $color-g
    background-color: $color-g
    position: absolute
    left: 50%
    top: 0
    span
      +font-size(25)
      +line-height(18)
      top: 4px
  &:hover
    background-color: $color-white
    transition: all 0.4s 0s ease-out
    text-decoration: none
    &[data-action="subscribe-facebook"], &[data-action="login-facebook"]
      color: $color-fb
    &[data-action="subscribe-google"], &[data-action="login-google"]
      color: $color-g
    &[data-action="subscribe-google-plus"]
      color: $color-g
  span
    position: relative
    left: -7px
    top: 2px
    +font-size(18)
    +breakpoint(xs)
      left: -12%

.loginForm__titleSection
  position: relative
  display: block
  text-align: center
  margin-bottom: 30px
  +font-size(12)
  +font-italic
  &::before
    content: ""
    width: 100%
    height: 1px
    background-color: $color_border-grey
    position: absolute
    left: 0
    top: 50%
  span
    background-color: $color-white
    padding: 0 10px
    position: relative
    +font-size(14)
.loginForm__form
  +clearfix
  margin-bottom: 30px
.loginForm__form--floating
  width: 100%
  position: relative
  margin-bottom: 4%
  &[name="newpassword"]
    margin-right: 4%
  +breakpoint(xs)
    float: left
    width: 48%
    &:nth-child(even)
      margin-right: 4%
      margin-bottom: 4%
  +breakpoint(xs-t)
    width: 100%
  +breakpoint(sm-min)
    float: left
    width: 48%
    &:nth-child(even)
      margin-right: 4%
      margin-bottom: 4%
  > input
    outline: none
    width: 100%
    padding: 15px 10px 15px 10px
    border: 1px solid $color_border-grey
    color: $greyInput
    box-shadow: none
    +font-light
    +font-size(14)
    &.error
      border: 2px solid #c83200
      color: #c83200

  label:not(.error)
    position: absolute
    left: 11px
    top: 13px
    font-size: 14px
    pointer-events: none
    transition: all 0.2s 0s ease-out
    opacity: 0
  label.floating
    transition: all 0.3s 0s ease-out
    top: -3px
    color: #9e9e9e
    +font-size(10)
  label.error
    display: block
    margin-bottom: -15px
    color: #c83200
    text-align: left
    +font-size(10)
.btn__submit--login
  outline: none
  background-color: $greenButton
  border: none
  color: $color-white
  padding: 10px 18px
  text-transform: uppercase
  border-radius: 0px
  appearance: none
  +font-bold
  +font-size(14)
  width: 145px
  float: right
  border: 1px solid $greenButton
  cursor: pointer
  &:hover
    background-color: $color-white
    color: $greenButton
    transition: all 0.4s 0s ease-out
  &.notFloat
    float: none
.loginForm__alredyR
  float: right
  clear: both
  +font-size(14)
  +font-light
.loginForm__errorBox
  +font-light
  +font-size(14)
  color: red
  float: left
  text-align: left
  clear: both
  +breakpoint(xs)
    clear: none
  ul
    li
      position: relative
      padding-left: 25px
      &::before
        font-family: 'icomoon' !important
        content: "\e923"
        position: absolute
        left: 0
