@keyframes textCollapse
  1%
    height: 0px
  100%
    height: 150px

.regForm
  @extend .loginForm
  .loginForm__intro
    margin-bottom: 10px
  .infoText
    +font-size(16)
    +font-light
    margin-bottom: 30px
.loginForm__intro--user
  position: relative
  background: $user-gray
  border-radius: 100%
  width: 70px
  margin: 0 auto
  padding: 21.5px 0px
  color: #7e7e7e
  margin-bottom: 20px
.underline-title-span
  display: inline-block
  &::after
    content: ""
    display: block
    height: 2px
    background-color: $user-gray
    margin-right: -20px
    margin-left: -20px
    margin-top: 10px
.selectWrap
  width: 33%
  float: left
  margin-bottom: 10px
  margin-right: 0.333%
  +breakpoint(xs)
    width: 30.2%
    margin-bottom: 0
    margin-right: 4%
  +breakpoint(xs-t)
    width: 33%
    margin-right: 0.333%
    margin-bottom: 10px
  +breakpoint(sm-min)
    width: 27.8%
    margin-right: 4%
    margin-bottom: 0
  &--role, &--profession, &--otherInput
    clear: both
    width: 100%
    +breakpoint(sm-min)
      clear: none
      float: left
      width: 41.6%
      margin-right: 4%
  &--otherInput
    display: none
    margin-right: 0
    width: 100%
    +breakpoint(sm-min)
      width: 54%
    input
      outline: none
      width: 100%
      padding: 13px 10px
      +font-light
      +font-size(12)
      &.required.error
        border: 2px solid #c83200
        color: #c83200
.regForm__form
  > p
    clear: both
    text-align: left
.regForm__form--selects
  margin-bottom: 20px
  +clearfix
  label:not(.error)
    display: block
    text-align: left
    +font-size(12)
    +font-light
    margin-bottom: 5px
  &--wrapper
    width: 100%
    float: left
    +breakpoint(xs)
      width: 46%
    +breakpoint(xs-t)
      width: 100%
    +breakpoint(sm-min)
      width: 45.4%
      float: left
    +clearfix
    .selectWrap:last-child
      margin: 0
.regForm__form--tel
  position: relative
  float: left
  width: 100%
  border: 1px solid $color_border-grey
  +breakpoint(xs)
    width: 54%
  +breakpoint(xs-t)
    width: 100%
  +breakpoint(sm-min)
    width: 54%
  .selectWrap
    width: 27.7%
    margin: 0
    .selectric
      border: 0
  input
    outline: none
    width: 100%
    float: left
    border: 0px
    +font-size(14)
    padding: 14px 10px
    +font-light
    &.required.error
      border: 2px solid #c83200
      color: #c83200
  label.error
    position: absolute
    bottom: -26px
    left: 0
    width: 100%
    color: #c83200
label.error
  +font-size(10)
  color: #c83200
  text-align: left
.radioWrap
  text-align: left
  padding: 20px 0
  border-bottom: 1px solid $color_border-grey
  line-height: 20px
.regForm__form--radios
  margin-bottom: 20px
  input
    outline: none
    margin-right: 19px
    clip: rect(1px, 1px, 1px, 1px)
    position: absolute
    &:checked
      + label
        &::after
          background-color: $color-orange
        + ul
          display: block
          transition: all 0.6s 0s ease-in
          height: 350px
          padding-top: 10px
          line-height: 1.5em
          +breakpoint(sm-min)
            height: 200px
  label
    +font-light
    +font-size(14)
    padding-left: 43px
    position: relative
    width: 100%
    display: block
    &::before
      content: ""
      position: absolute
      left: 0
      top: 0
      border-radius: 100%
      width: 16px
      height: 16px
      border: 1px solid $color_border-grey
    &::after
      content: ""
      position: absolute
      left: 3px
      top: 3px
      height: 12px
      width: 12px
      border-radius: 100%
  ul
    +font-size(14)
    +font-light
    color: $color-orange
    height: 0px
    overflow: hidden
    transition: all 0.2s 0s ease-in
    list-style: disc inside
    padding-left: 45px
    li
      color: $greyInput
.regForm__form--wrap
  +clearfix
  margin-bottom: 50px
.selectric-error
  border: 2px solid #c83200
  color: #c83200
