*::-moz-focus-inner, *:focus
  border: 0
  outline: none
.adminPanel
  +font-light
  background-color: $color-white
  color: #323232
  margin-left: -10px
  +breakpoint(wp-t)
    margin-left: -20px
  a
    &:focus
      box-shadow: none
    &:hover
      color: $color-orange
  .inputCheck
    border: 1px solid #c5c5c5
    height: 20px
    width: 20px
    padding-right: 20px
    vertical-align: middle
    color: #323232
    margin: 0
    &::before
      font-size: 2.6rem !important
      font-size: 26px !important
  .adminPanel__header
    margin-bottom: 40px
    +clearfix
  .adminPanel__header__nav
    background-color: rgba(41, 44, 51, 0.8)
    float: left
    width: 100%
    padding: 20px 10px
    h1
      +font-semibold
      +font-size(20)
      color: #ffffff
      margin-bottom: 20px
      +breakpoint(xs)
        float: left
        width: 50%
        margin-bottom: 0
      span
        +font-light
        +font-size(16)
  .adminPanel__header__nav--link
    float: right
    margin-right: 5%
    font-size: 0px
    width: 45%
    text-align: right
    a
      display: inline-block
      margin-right: 3%
      +font-light
      text-transform: uppercase
      +font-size(14)
      color: #fff
      &.active
        color: blue
        text-decoration: underline
      &:hover
        text-decoration: underline
  .adminPanel__infoPanel
    margin-bottom: 40px
    .wrap
      width: 90%
      margin: 0 auto
    p
      text-transform: uppercase
      +font-light
      +font-size(16)
      span
        +font-bold
  .adminPanel__infoPanel__panel
    background-color: $color-white
    padding: 15px
    +breakpoint(xs)
      padding: 30px
    +clearfix
  .adminPanel__infoPanel__panel--infoSingle
    width: 50%
    float: left
    text-align: center
    padding: 30px 0
    &:nth-child(odd)
      border-right: 1px solid #ccc
    &:first-child
      border-bottom: 1px solid #ccc
    &:nth-child(2)
      border-bottom: 1px solid #ccc
    +breakpoint(xs)
      width: 25%
      border-right: 1px solid #ccc
      &:first-child
        border-bottom: 0
      &:nth-child(2)
        border-bottom: 0
    &:last-child
      border-right: 0px
    .count
      +font-bold
      +font-size(50)
      display: block
      margin-bottom: 20px
    .desc
      +font-light
      +font-size(16)
      display: block
      text-transform: uppercase
      white-space: nowrap
  .adminPanel__tab
    .wrap
      width: 90%
      margin: 0 auto
  .adminPanel__tab__nav
    +clearfix
    text-align: center
    +breakpoint(xs)
      text-align: unset
  .adminPanel__tab__nav--control
    margin-bottom: 20px
    +breakpoint(xs)
      margin-bottom: 0
      float: left
    a
      display: inline-block
      padding: 0px 30px 10px 30px
      position: relative
      +font-size(16)
      &.active
        color: $color-orange
        transition: all 0.3s 0s ease-in
        &::after
          content: ""
          display: block
          position: absolute
          bottom: 0
          left: 0
          border-radius: 3px
          width: 100%
          height: 4px
          background-color: $color-orange
      &[data-action="filter-waitlist"]
        color: #808080
        &:hover
          color: $color-orange
  .adminPanel__tab__nav--action
    +breakpoint(xs)
      float: right
    a
      display: inline-block
      margin-right: 15px
      text-transform: capitalize
      +font-size(14)
      font-family: Arial
      color: $color-orange
      &:last-child
        margin-right: 0
      &:hover
        text-decoration: underline
  .adminPanel__tab__filter
    background-color: #f5f5f5
    +clearfix
    padding-bottom: 20px
    padding-top: 20px
  .adminPanel__tab__filter--selectAll
    float: left
    width: 30%
    label
      +font-size(14)
  .adminPanel__tab__search
    float: left
    width: 70%
    font-size: 0px
  .adminPanel__tab__search--searchBar
    display: inline-block
    width: 80%
    input
      width: 100%
      padding: 10px
      appearance: none
      -moz-appearance: none
      -ms-appearance: none
      -webkit-appearance: none
      border-radius: 25px
      border: 1px solid $color-whiteOcra
      color: #323232
      +font-size(12)
      &::placeholder
        color: #777777
      &:focus
        box-shadow: 0 0 2px $color-orange
  .adminPanel__tab__search--filterSelect
    display: block
    width: 80%
    +breakpoint(xs)
      display: inline-block
      width: 20%
    select
      height: auto !important
      width: 100%
      appearance: none
      -moz-appearance: none
      -ms-appearance: none
      -webkit-appearance: none
      border-radius: 25px
      padding: 10px 10px
      border: 1px solid $color-whiteOcra
      background-image: url('../images/admin/arrow-down.png')
      background-position: 96% center
      background-repeat: no-repeat
      background-size: 15px
      vertical-align: unset
      color: #323232
      font-size: 12px !important
      font-size: 1.2rem !important
      line-height: 1.5
      &:focus
        box-shadow: 0 0 2px $color-orange
  .adminPanel__table
    background-color: #f5f5f5
  .adminPanel__table__body
    border: 1px solid #d2d2d2
    table,
    thead,
    tbody,
    th,
    td,
    tr
      display: block
      background-color: $color-white
      +font-size(14)
      +font-light
    thead tr
      position: absolute
      top: -9999px
      left: -9999px
      +font-size(14)
      +font-semibold
    tr
      border: 1px solid #ccc
    td
      border: none
      border-bottom: 1px solid #eee
      position: relative
      padding-left: 35%
      white-space: normal
      text-align: left
      padding-top: 5px
      padding-bottom: 5px
      height: 30px
      &:before
        position: absolute
        top: 6px
        left: 6px
        width: 45%
        padding-right: 10px
        white-space: nowrap
        text-align: left
        content: attr(data-title)
        +font-semibold
    +breakpoint(sm-min)
      table
        display: table
        width: 100%
      thead
        text-align: left
        float: inherit
        display: table-row-group
      tbody
        display: table-row-group
        overflow-x: inherit
      thead tr
        display: table-row
        position: relative
        top: 0
        left: 0
        border: 0
      tbody tr
        padding-left: 0px
        display: table-row
        border: 0
        &:last-child
          td
            border-bottom: 0
      td
        display: table-cell
        padding: 10px 0
        border-bottom: 1px solid $profile-background
        background: none
        height: auto
        &::before
          display: none
      th
        display: table-cell
        text-align: left
        padding: 10px 0
        +font-semibold
    .first
      padding: 5px
      +breakpoint(sm-min)
        text-align: center
      span
        display: inline-block
        width: 8px
        height: 8px
        border-radius: 100%
        vertical-align: middle
        &::after
          content: attr(data-title)
          white-space: nowrap
          padding-left: 10px
          display: inline-block
          transform: translateY(-30%)
          +breakpoint(sm-min)
            display: none
        &.bulletConfirm
          background-color: #459e40
        &.bulletNotConfirm
          background-color: #595959
      img
        vertical-align: middle
    [name="action-menu"]
      img
        width: 15px
    .menu-single
      display: none
      position: absolute
      background-color: #ffffff
      right: 0px
      padding: 20px 30px 20px 14px
      border: 1px solid #323232
      z-index: 9
      width: 150px
      bottom: 0
      +breakpoint(sm-min)
        bottom: auto
      a
        display: block
        margin-bottom: 10px
      span
        margin-right: 10px
        &.icon-mail
          +font-size(11)
      [data-action="close-box"]
        position: absolute
        top: 0
        right: 4px
        font-size: 12px
  .adminPanel__table__pagination
    position: relative
    padding: 20px 10px 20px 10px
    span
      float: left
      +font-size(12)
    ul
      display: block
      text-align: center
      font-size: 0px
      li
        display: inline-block
        +font-size(14)
        width: 20px
        .arrowSx , .arrowDx
          width: 40px
  .adminPanel_banner
    @extend .adminPanel__tab
    background-color: #d7d7d7
    padding: 15px 0px 35px 0
    text-align: right
    width: 100%
    position: fixed
    right: 0
    bottom: 0
    transform: translateY(80%)
    z-index: 999
    transition: all 0.3s 0s ease-in-out
    &.open
      transform: translateY(0%)
      transition: all 0.8s 0s ease-in-out
      .totSelected [name="mobile-toggle"]
        span
          display: block
          transform: rotateX(180deg)
          transition: all 0.8s 0s ease-in-out
    +breakpoint(xs)
      transform: translateY(0%)
    +breakpoint(wp-t)
      width: calc( 100% - 34px)
    +breakpoint(sm-w)
      width: calc( 100% - 160px)
      top: unset
    .totSelected
      +font-size(16)
      display: block
      text-align: center
      margin-bottom: 20px
      padding-bottom: 20px
      [name="mobile-toggle"]
        float: left
        +breakpoint(xs)
          display: none
        span
          display: block
          transform: rotateX(0deg)
          transition: all 0.3s 0s ease-in-out
      +breakpoint(xs)
        float: left
  .adminButton
    background-color: #d7d7d7
    border: none
    color: #4f4f4f
    padding: 10px 18px
    text-transform: uppercase
    border-radius: 0px
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    width: 145px
    border: 1px solid #4f4f4f
    cursor: pointer
    +font-size(14)
    +font-semibold
    display: block
    margin-bottom: 10px
    &:hover
      background-color: #4f4f4f
      color: #ffffff
      transition: all 0.4s 0s ease-in
    +breakpoint(xs)
      display: inline
  .adminButton--confirm
    @extend .adminButton
    background-color: #258900
    border-color: #258900
    color: #ffffff
    &:hover
      background-color: #d7d7d7
      color: #258900
  button[name="add-partecipant"]
    width: auto
.ui-dialog
  background-color: #ffffff
  position: absolute
  z-index: 99
  width: 80% !important
  top: 30% !important
  left: 50% !important
  transform: translateX(-50%)
  +breakpoint(sm-min)
    width: 50% !important
  .dialogBox
    padding: 20px
    .buttonDialog
      background-color: #ffffff
      border: none
      color: #4f4f4f
      padding: 10px 18px
      text-transform: uppercase
      border-radius: 0px
      -webkit-appearance: none
      -moz-appearance: none
      appearance: none
      width: 145px
      border: 1px solid #4f4f4f
      cursor: pointer
      +font-size(14)
      +font-semibold
      display: inline-block
      margin-bottom: 10px
      &:hover
        background-color: #4f4f4f
        color: #ffffff
        transition: all 0.4s 0s ease-in
      +breakpoint(xs)
        display: inline
    .buttonDialog--confirm
      @extend .buttonDialog
      background-color: #258900
      border-color: #258900
      color: #ffffff
      &:hover
        background-color: #ffffff
        color: #258900
    h3
      +font-regular
      +font-size(24)
      text-align: center
      border-bottom: 1px solid $color-input-border
      margin-left: auto
      margin-right: auto
      margin-bottom: 20px
      color: $color-orange
      display: inline-block
      padding: 0px 10px 10px 10px
      line-height: 1
    .dialogBox__form
      margin-bottom: 30px
      +clearfix
    .inputForm
      width: 100%
      margin-bottom: 10px
      +breakpoint(xs)
        width: 50%
        float: left
        padding: 10px
        margin-bottom: 0
      label
        display: block
        margin-bottom: 5px
        +font-size(14)
        &.error
          color: #c83200
      input
        width: 100%
        border: 1px solid $color-whiteOcra
        padding: 10px 5px
        +font-light
        &:focus
          box-shadow: 0 0 2px $color-orange
        &.error
          border: 2px solid #c83200
          color: #c83200
    .inputForm--select
      @extend .inputForm
      width: 100%
      select
        +font-light
        border-radius: 0px
        background-color: $color-white
        appearance: none
        -moz-appearance: none
        -ms-appearance: none
        -webkit-appearance: none
        border: 1px solid $color-whiteOcra
        padding: 10px 5px
        width: 100%
        float: left
        margin-right: 1%
        background-image: url('../images/adminPage/arrow-down.png')
        background-position: 96% center
        background-repeat: no-repeat
        background-size: 15px
        height: auto
        margin-left: 0
        margin-top: 0
        margin-bottom: 0
        color: #323232
        margin-bottom: 10px
        &:focus
          box-shadow: 0 0 2px $color-orange
        +breakpoint(xs)
          width: 48%
          margin-bottom: 0
        &#mailTemplate
          margin-left: auto
          margin-right: auto
          float: none
          display: block
      input
        margin-bottom: 10px
        width: 100%
        float: left
        border: 1px solid $color-whiteOcra
        padding: 11px 5px
        margin-left: 0
        margin-top: 0
        &:focus
          box-shadow: 0 0 2px $color-orange
        +breakpoint(xs)
          width: 50%
          margin-bottom: 0
      [name="birthdayday"],[name="birthdaymonth"],[name="birthdayyear"]
        float: left
        width: 33%
        margin-right: 0.5%
        margin-left: 0
        margin-top: 0
        margin-bottom: 0
        &:last-child
          margin: 0
    .buttonWrap
      clear: both
      width: 100%
      text-align: center
    #csv
      +font-light
      display: block
.ui-widget-overlay
  background-color: rgba(125,125,125,0.6)
  position: fixed
  width: 100%
  height: 100%
  left: 0
  top: 0

//mod wordpress style
#wpfooter
  display: none
#wpbody-content
  padding-bottom: 50px
  +breakpoint(xs)
    padding-bottom: 100px
