.header-menu
  .profileLog
    border-left: 1px solid $color-white
    margin-left: 20px
    padding-left: 10px
    img
      width: 50px
      height: auto
      vertical-align: middle
      border-radius: 25px
    span
      display: inline-block
      vertical-align: middle
      +font-size(16)
      +font-semibold
      margin-left: 5px
    a
      span
        +font-size(22)
        margin: 0
.profileWrapper
  @extend .loginWrapper
  padding-top: 20px
  padding-left: 10px
  padding-right: 10px
  padding-bottom: 20px
  +breakpoint(xs-t)
    padding-top: 100px
  &--top
    +clearfix
    background-color: $bglogin
.profileWrapper--top
  margin-bottom: 40px
  position: relative
.profileWrapper__img
  width: 20%
  margin-left: auto
  margin-right: auto
  margin-bottom: 20px
  +breakpoint(xs-t)
    position: absolute
    left: -21%
    top: -21px
    max-width: 100px
.profileWrapper_title
  float: left
  position: relative
.profileWrapper__info
  position: absolute
  right: -34px
  bottom: 0
  a
    &:hover
      text-decoration: none
      + span
        display: block
.profileWrapper__download
  display: block
  clear: both
  +breakpoint(xs)
    position: absolute
    right: 0
    bottom: 0
    color: $btn-cancel
  a
    +font-light
    +font-size(14)
    span:nth-child(2)
      text-decoration: underline
.profileWrapper_title-t
  +font-semibold
  +font-size(24)
  color: $color-orange
  display: block
.profileWrapper_title-state
  +font-light
  +font-size(18)
.tooltip
  display: none
  position: absolute
  right: -45px
  top: 52px
  color: $color-whiteOcra
  background-color: $color-blackLi
  width: 100px
  +opacity(0.9)
  border-radius: 4px
  +font-size(12)
  line-height: 12px
  padding: 13px 15px 13px 20px
  transform: translateY(-25%)
  +font-italic
  +breakpoint(xs)
    left: 40px
    top: -8px
    width: 149px
    padding: 14px 18px 15px 29px
  &::before
    display: none
    content: ""
    width: 0
    height: 0
    border-style: solid
    border-width: 20px 26.0px 20px 0
    border-color: transparent $color-blackLi transparent transparent
    position: absolute
    left: 0
    top: 20%
    left: -10px
    +breakpoint(xs)
      display: inline
.profileWrapper__generalblock
  margin-bottom: 15px
  &:last-child
    margin-bottom: 0
  .wrap
    background-color: #fff
    padding: 30px
    border: 1px solid $profile-background
    p
      +font-size(14)
      width: 70%
    >ul
      +font-size(14)
      >li
        clear: both
        margin-bottom: 30px
        position: relative
        +breakpoint(xs)
          clear: none
        .icon-mail[class*="icon"]
          +font-size(16)
          top: 7px
        [class*="icon"]
          display: inline-block
          color: #808080
          width: 30px
          text-align: center
          +font-size(25)
          +breakpoint(xs)
            position: absolute
            top: 6px
        .mailText
          display: inline-block
          padding-left: 10px
        > .label
          display: inline-block
          +font-semibold
          +breakpoint(xs)
            padding-left: 40px
            width: 20%
            margin-right: 30px
        input
          outline: none
          border: 1px solid $color_border-grey
          +font-size(12)
          +font-light
          display: block
          margin-left: 34px
          padding: 10px 10px
          +breakpoint(xs)
            display: inline
            margin: 0
          &.otherInput
            margin-left: 34px
            margin-top: 20px
            width: 69.9%
          &.required.error
            border: 2px solid #c83200
            color: #c83200
        input[readonly]
          border: 1px solid transparent
        label.error
          display: block
          padding-left: 30%
          text-align: left
          color: #c83200
          +font-size(10)
    .birtdayWrapper
      width: 100%
      vertical-align: bottom
      display: block
      margin-left: 34px
      margin-top: 15px
      +clearfix
      +breakpoint(xs)
        margin-top: 0px
        width: 50%
        display: inline-block
        margin-left: 0
      .selectric-wrapper
        float: left
        width: 30%
        margin-right: 2%
        margin-left: 0
        &.selectric-disabled
          width: auto
    .selectric
      .button
        top: 0
        &::before
          +font-size(16)
    .selectric-wrapper
      width: calc(100% - 34px)
      display: block
      margin-left: 34px
      +breakpoint(xs)
        display: inline-block
        vertical-align: bottom
        width: 50%
        margin-left: 0
    .selectric-disabled
      margin-right: 0
      width: auto
      opacity: 1
      .selectric
        border: 0
      .button
        display: none
    .selectric
      .label
        padding: 0 10px
        line-height: 31px
.profileWrapper__generalblock__title
  color: $color-orange
  +font-size(16)
  +font-regular
  text-align: left
  margin-bottom: 15px
.button--edit
  @extend .btn__submit--cancel
  float: right
  width: 68px
  padding: 0
  text-align: center
  clear: both
  margin-bottom: 10px
  position: relative
  z-index: 9
  &:nth-child(2)
    display: none
  &.active
    color: $color-orange
    border-color: $color-orange
    &:hover
      color: $color-white
      background-color: $color-orange
  +breakpoint(xs)
    width: 145px
    padding: 10px 18px
.section--overlay
  overflow-x: scroll
  display: none
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  width: 100%
  background-color: rgba(71,71,71,0.80)
  z-index: 9999
.boxWrapper__cancel
  margin-top: 10%
  width: 90%
  padding: 40px 60px
  margin-left: auto
  margin-right: auto
  text-align: center
  background-color: $color-white
  +breakpoint(xs)
    width: 70%
  +breakpoint(sm-min)
    width: 50%
  p
    margin-bottom: 30px
.underline-title-span--overlay
  @extend .underline-title-span
  max-width: 300px
.btn__submit--goback
  @extend .btn__submit--cancel
  display: block
  margin-left: auto
  margin-right: auto
  margin-bottom: 10px
  float: none
  width: 90%
  +breakpoint(xs-t)
    margin-bottom: 0
    display: inline
    width: 145px
.btn__submit--cancelReg
  @extend .btn__submit--login
  display: block
  margin-left: auto
  margin-right: auto
  float: none
  width: 90%
  margin-bottom: 10px
  +breakpoint(xs-t)
    margin-bottom: 0
    display: inline
    width: 145px
.profileChangePw
  display: none
  padding-top: 7px
  &.show
    display: block
    margin-left: 34px
    +breakpoint(xs)
      display: inline-block
      margin-left: 0px
  &:hover
    color: $color-orange
