/* ====================================
 * TERMS AND CONDITIONS
 * ==================================== */

article
	overflow: hidden
	section
		&.terms-conditions
			text-align: left
			margin-top: 5%
			padding: 60px
			@include breakpoint(sm)
				padding: 80px 15px 20px
			h1,h2,h3,h4
				text-align: left
				padding: 0 20px 20px 0
			h1
				@include font-size(48)
				@include breakpoint(md)
					@include font-size(38)
				@include breakpoint(sm)
					@include font-size(28)
					margin-bottom: 0
				color: $color-orange
				text-align: center
				margin-bottom: 30px
			h1 + p
				font-size: inherit

			h2
				@include font-size(38)
				@include breakpoint(md)
					@include font-size(28)
				@include breakpoint(sm)
					@include font-size(20)
			h3
				@include font-size(28)
				@include breakpoint(sm)
					@include font-size(20)
			h4
				padding: 0 20px
				@include font-size(24)
				line-height: 1.4
				@include breakpoint(sm)
					@include font-size(20)
			.content__wrapper
				@include breakpoint(sm)
					padding-top: 30px
			p
				padding: 20px
				@include breakpoint(sm)
					@include font-size(16)
			ol
				list-style-type: decimal
				padding: 0 0 30px 30px
				li
					padding-bottom: 30px
					h4
						padding: 0 0 20px
					ul
						list-style-type: disc
						padding-left: 20px
						li
							padding-bottom: 10px
							@include breakpoint(sm)
								@include font-size(16)

					p
						padding: 0 20px 20px 0


					table
						width: 70%
						@include breakpoint(sm)
							width: 100%
						tr
							border: 1px solid $color_border-black
							padding: 10px
							&:first-child
								@include font-semibold
							td
								padding: 10px
								& + td
									border-left: 1px solid $color_border-black
						margin-bottom: 20px

						strong
							@include font-semibold()
			a
				display: inline-block
				&:hover
					text-decoration: underline
			.content__wrapper
				text-align: left
