/* ====================================
   Global fonts
   ==================================== */

=font-light
  font-family: 'Open Sans', 'sans-serif', Helvetica Neue, Arial, Helvetica
  font-weight: 300
  font-style: normal

=font-regular
  font-family: 'Open Sans', 'sans-serif', Helvetica Neue, Arial, Helvetica
  font-weight: 400
  font-style: normal


=font-italic
  font-family: 'Open Sans', 'sans-serif', Helvetica Neue, Arial, Helvetica
  font-weight: 300
  font-style: italic

=font-semibold
  font-family: 'Open Sans', 'sans-serif', Helvetica Neue, Arial, Helvetica
  font-weight: 600
  font-style: normal

=font-bold
  font-family: 'Open Sans', 'sans-serif', Helvetica Neue, Arial, Helvetica
  font-weight: 700
  font-style: normal

@font-face
  font-family: 'icomoon'
  src:  url('fonts/icomoon.eot?msi7w1')
  src:  url('fonts/icomoon.eot?msi7w1#iefix') format('embedded-opentype'),url('fonts/icomoon.ttf?msi7w1') format('truetype'),url('fonts/icomoon.woff?msi7w1') format('woff'),url('fonts/icomoon.svg?msi7w1#icomoon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-ic_Profession:before
  content: "\e900"

.icon-mail:before
  content: "\e901"

.icon-password:before
  content: "\e902"

.icon-phone:before
  content: "\e903"

.icon-Role:before
  content: "\e904"

.icon-white:before
  content: "\e905"

.icon-Birthday:before
  content: "\e906"

.icon-challenge:before
  content: "\e907"

.icon-android:before
  content: "\e908"

.icon-apple:before
  content: "\e909"

.icon-applicathion:before
  content: "\e90a"

.icon-arrow:before
  content: "\e90b"

.icon-arrow_left:before
  content: "\e90c"

.icon-card:before
  content: "\e90d"

.icon-Contact:before
  content: "\e90e"

.icon-download:before
  content: "\e90f"

.icon-easy_pay:before
  content: "\e910"

.icon-everdy_life:before
  content: "\e911"

.icon-facebook:before
  content: "\e912"

.icon-funding:before
  content: "\e913"

.icon-InternetBanking:before
  content: "\e914"

.icon-lock_key:before
  content: "\e915"

.icon-lock:before
  content: "\e916"

.icon-menu_ics:before
  content: "\e917"

.icon-menu:before
  content: "\e918"

.icon-relation:before
  content: "\e919"

.icon-search:before
  content: "\e91a"

.icon-set_up:before
  content: "\e91b"

.icon-twitter:before
  content: "\e91c"

.icon-video:before
  content: "\e91d"

.icon-wallet:before
  content: "\e91e"

.icon-brand:before
  content: "\e91f"

.icon-withcib2:before
  content: "\e920"

.icon-menu_bar:before
  content: "\e921"

.icon-menu_onlyIcs:before
  content: "\e922"

.icon-uni22:before
  content: "\e923"

.icon-uni31:before
  content: "\e924"

.icon-uni33:before
  content: "\e925"

.icon-uni34:before
  content: "\e926"

.icon-uni32:before
  content: "\e927"

.icon-arrow-btn:before
  content: "\e928"

.icon-intesa_sanpaolo:before
  content: "\e929"

.icon-account:before
  content: "\e92a"

.icon-payments:before
  content: "\e92b"

.icon-first-step:before
  content: "\e92c"

.icon-funds:before
  content: "\e92d"

.icon-savings:before
  content: "\e92e"

.icon-loans:before
  content: "\e92f"

.icon-location:before
  content: "\e930"

.icon-insurance:before
  content: "\e931"

.icon-faq:before
  content: "\e932"

.icon-back:before
  content: "\e933"

.icon-apple-outline:before
  content: "\e934"

.icon-cards:before
  content: "\e935"

.icon-news:before
  content: "\e936"

.icon-android-outline:before
  content: "\e937"

.icon-youtube:before
  content: "\e938"

.icon-linkedin:before
  content: "\e939"

.icon-instagram:before
  content: "\e93a"

.icon-bancaintesa:before
  content: "\e93b"

.icon-withbancaintesa:before
  content: "\e93c"

.icon-withalexbank-1:before
  content: "\e93d"

.icon-ALEXBANK:before
  content: "\e93e"

.icon-check:before
  content: "\e93f"

.icon-physicalTokenDevice:before
  content: "\e940"

.icon-vub:before
  content: "\e941"

.icon-withvub:before
  content: "\e942"

.icon-pbz-logo:before
  content: "\e943"

.icon-PBZ_Black:before
  content: "\e944"

.icon-40-google-plus:before
  content: "\e945"

.icon-user:before
  content: "\e946"
  
.icon-verification-mark:before
  content: "\e947"
