/* ====================================
 * Mixins and functions
 * ====================================

/* Variables
 * ====================================

$base-spacing: 24px

$font-margin-top: $base-spacing
$font-margin-bottom: $base-spacing

/* Media queries
 * ====================================

/* Usage: @include breakpoint(sm) {}

=breakpoint($class)
  @if $class == xs
    @media (min-width: 600px)
      @content
  @else if $class == xs-t
    @media (min-width: 769px)
      @content
  @else if $class == wp-t
    @media (min-width: 783px)
      @content
  @else if $class == sm-min
    @media (min-width: 1023px)
      @content
  @else if $class == sm
    @media (max-width: 1023px)
      @content
  @else if $class == sm-w
    @media (min-width: 961px)
      @content
  @else if $class == md
    @media (min-width: 1024px)
      @content
  @else if $class == lg
    @media (min-width: 1200px)
      @content
  @else
    @warn "Breakpoint mixin supports: xs, sm, md, lg"

/* Mixins and functions
 * ====================================

=font-size($sizeValue: 1.6)
  font-size: $sizeValue * 1 + px
  font-size: $sizeValue / 10 + rem

=line-height($sizeValue: 1.6)
  line-height: $sizeValue * 1 + px
  line-height: $sizeValue / 10 + rem

/* Usage: @include placeholder() {}

=placeholder
  &:-moz-placeholder
    @content
  &::-moz-placeholder
    @content
  &:-ms-input-placeholder
    @content
  &::-webkit-input-placeholder
    @content

/* Usage: @include border-radius(5px)
=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius
  background-clip: padding-box

/* Usage: @include opacity(0.8)
=opacity($opacity)
  opacity: $opacity
  $opacity-ie: $opacity * 100
  filter: alpha(opacity = $opacity-ie)
  //IE8

/* Usage: @include center-block
=center-block
  display: block
  margin-left: auto
  margin-right: auto

/* Usage: @include text-truncate
=text-truncate
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

/* Extends
 * ====================================
%hide-text
  text-indent: -99999px
  direction: ltr

%visually-hidden
  position: absolute !important
  overflow: hidden
  width: 1px
  height: 1px
  padding: 0
  border: 0
  clip: rect(1px, 1px, 1px, 1px)

%clearfix
  *zoom: 1
  &:before
    content: " "
    display: table
  &:after
    content: " "
    display: table
    clear: both

%vertical-align
  position: relative
  top: 50%
  transform: translateY(-50%)

=clearfix
  &:before,
  &:after
    content: ""
    display: table

  &:after
    clear: both
