<footer>
	<div class="content__row">
		<div class="content__column">
			<div class="footer__links">
				<nav>
					<ul>
						<li><a class="j-formOpen" href="#">Contacts</a></li>
						<li><a href="/new/en/terms-and-conditions.html">Terms and conditions</a></li>
						<li><a href="/new/en/privacy.html">Privacy</a></li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="content__column">
			Follow us for event-related news on
			<a href="https://www.facebook.com/privrednabankazagreb" target="_blank"><span class="icon-facebook"></span></a>
			<a href="https://www.instagram.com/novathonwithpbz/" target="_blank"><span class="icon-instagram"></span></a><br> Follow PBZ on
			<a href="http://pbzblog.pbz.hr/" target="_blank"><img src="/images/blog_icon.png" alt="blog"></a>
			<a href="https://www.linkedin.com/company/pbz" target="_blank"><span class="icon-linkedin"></span></a>
			<a href="https://www.youtube.com/user/PBZgrupa" target="_blank"><span class="icon-youtube"></span></a>
		</div>
	</div>
	<div class="content__row main">
		<div class="footer__sponsors">
			<a href=" http://www.world.intesasanpaolo.com/en/call_to_action/innovation-a-world-without-frontiers" target="_blank"><img src="/images/innovation-center-logo.png" alt="Innovation Center Intesa San Paolo"></a>
		</div>
	</div>
	<div class="content__row">
		<div class="footer__sponsors">
			<ul>
				<li>
					<a href="http://www.pbz.hr/" target="_blank"><span class="icon-PBZ_Black"></span></a>
				</li>
				<li>
					<a href="http://with.pbz.hr/" target="_blank"><img src="/images/with-pbz.png" alt="with PBZ"></a>
				</li>
				<li>
					<a href="http://www.group.intesasanpaolo.com/scriptIsir0/si09/eng_index.jsp" target="_blank"><img src="/images/intesa-sanpaolo-logo-17.png" alt="Intesa San Paolo"></a>
				</li>
			</ul>
		</div>
	</div>
</footer>
</div>
{% for link in footer.scripts -%}
<script src="/js/{{link.src}}.js" type="text/javascript"></script>
{%- endfor %}
</body>

</html>
