<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	{% for meta in header.meta %}
	<meta name="{{meta.name}}" content="{{meta.content}}">
	{%- endfor %}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/css/style.css">
	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, user-scalable=0, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
	<meta name="theme-color" content="{{colorChrome}}">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  
  <script src="https://apis.google.com/js/platform.js"></script>
	<title>{{header.title}}</title>
</head>

<body>
	<div class="wrapper en">
	<header id="header">
			<div class="bg"></div>
			<div class="content__wrapper">
				<div class="logo">
					<span class="icon-pbz-logo"></span>
				</div>
				<!-- ******************************************** -->
				<!-- MOBILE MENU-->
				<!-- ******************************************** -->
				<div class="mobile-toggle">
					<span></span>
					<span></span>
					<span></span>
				</div>
				<!-- ******************************************** -->
				<!-- MENU-->
				<!-- ******************************************** -->
				<nav class="header-menu">
					<ul>
						<li><a class="j-scrollLink" href="#challenges">Challenges</a></li>
						<li><a class="j-scrollLink" href="#mentors">Speakers and Mentors</a></li-->
							<li><a class="j-scrollLink" href="#program">Program</a></li>
							<li><a class="j-scrollLink" href="#partners">Partners</a></li>
							<li><a href="previous-event.html">Previous events</a></li>
							<li class="profileLog">
                <img src="/images/profile.png" alt="profile picture">
                <span>Claire</span>
                <a href="#" target="_blank"><span class="icon-first-step"></span></a></li>
              <!-- li class="loginButton"><a  href="#">login</a></li>
              <li class="signUpButton"><a  href="#">Register</a></li -->
							<li class="lang">
								<select onChange="window.location.href=this.value">
									<option value="">en</option>
									<option value="/hr/">hr</option>
								</select>
								<span><a class="color--orange" href="/en/">EN</a>&nbsp;<a href="/hr/">HR</a></span>
							</li>
					</ul>
				</nav>
			</div>
		</header>
