//bootstrap
$carousel-text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6) !default

$carousel-control-color: white !default
$carousel-control-width: 15% !default
$carousel-control-opacity: 0.5 !default
$carousel-control-font-size: 20px !default

$carousel-indicator-active-bg: white !default
$carousel-indicator-border-color: white !default

$carousel-caption-color: white !default

//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs: 480px !default

//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min: $screen-xs !default

//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone: $screen-xs-min !default

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm: 768px !default
$screen-sm-min: $screen-sm !default

//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet: $screen-sm-min !default

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md: 992px !default
$screen-md-min: $screen-md !default

//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop: $screen-md-min !default

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg: 1200px !default
$screen-lg-min: $screen-lg !default

//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop: $screen-lg-min !default

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: $screen-sm-min - 1 !default
$screen-sm-max: $screen-md-min - 1 !default
$screen-md-max: $screen-lg-min - 1 !default

// Vendor Prefixes
//
// All vendor mixins are deprecated as of v3.2.0 due to the introduction of
// Autoprefixer in our Gruntfile. They will be removed in v4.

// - Animations
// - Backface visibility
// - Box shadow
// - Box sizing
// - Content columns
// - Hyphens
// - Placeholder text
// - Transformations
// - Transitions
// - User Select

// Animations
=animation($animation)
  -webkit-animation: $animation
  -o-animation: $animation
  animation: $animation

=animation-name($name)
  -webkit-animation-name: $name
  animation-name: $name

=animation-duration($duration)
  -webkit-animation-duration: $duration
  animation-duration: $duration

=animation-timing-function($timing-function)
  -webkit-animation-timing-function: $timing-function
  animation-timing-function: $timing-function

=animation-delay($delay)
  -webkit-animation-delay: $delay
  animation-delay: $delay

=animation-iteration-count($iteration-count)
  -webkit-animation-iteration-count: $iteration-count
  animation-iteration-count: $iteration-count

=animation-direction($direction)
  -webkit-animation-direction: $direction
  animation-direction: $direction

=animation-fill-mode($fill-mode)
  -webkit-animation-fill-mode: $fill-mode
  animation-fill-mode: $fill-mode

// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden`

=backface-visibility($visibility)
  -webkit-backface-visibility: $visibility
  -moz-backface-visibility: $visibility
  backface-visibility: $visibility

// Drop shadows
//
// Note: Deprecated `.box-shadow()` as of v3.1.0 since all of Bootstrap's
// supported browsers that have box shadow capabilities now support it.

=box-shadow($shadow...)
  -webkit-box-shadow: $shadow
  // iOS <4.3 & Android <4.1
  box-shadow: $shadow

// Box sizing
=box-sizing($boxmodel)
  -webkit-box-sizing: $boxmodel
  -moz-box-sizing: $boxmodel
  box-sizing: $boxmodel

// CSS3 Content Columns
=content-columns($column-count, $column-gap: $grid-gutter-width)
  -webkit-column-count: $column-count
  -moz-column-count: $column-count
  column-count: $column-count
  -webkit-column-gap: $column-gap
  -moz-column-gap: $column-gap
  column-gap: $column-gap

// Optional hyphenation
=hyphens($mode: auto)
  word-wrap: break-word
  -webkit-hyphens: $mode
  -moz-hyphens: $mode
  -ms-hyphens: $mode
  // IE10+
  -o-hyphens: $mode
  hyphens: $mode

// Placeholder text
=placeholder($color: $input-color-placeholder)
  // Firefox
  &::-moz-placeholder
    color: $color
    opacity: 1
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
  &:-ms-input-placeholder
    color: $color
  // Internet Explorer 10+
  &::-webkit-input-placeholder
    color: $color
  // Safari and Chrome

// Transformations
=scale($ratio...)
  -webkit-transform: scale($ratio)
  -ms-transform: scale($ratio)
  // IE9 only
  -o-transform: scale($ratio)
  transform: scale($ratio)

=scaleX($ratio)
  -webkit-transform: scaleX($ratio)
  -ms-transform: scaleX($ratio)
  // IE9 only
  -o-transform: scaleX($ratio)
  transform: scaleX($ratio)

=scaleY($ratio)
  -webkit-transform: scaleY($ratio)
  -ms-transform: scaleY($ratio)
  // IE9 only
  -o-transform: scaleY($ratio)
  transform: scaleY($ratio)

=skew($x, $y)
  -webkit-transform: skewX($x) skewY($y)
  -ms-transform: skewX($x) skewY($y)
  // See https://github.com/twbs/bootstrap/issues/4885; IE9+
  -o-transform: skewX($x) skewY($y)
  transform: skewX($x) skewY($y)

=translate($x, $y)
  -webkit-transform: translate($x, $y)
  -ms-transform: translate($x, $y)
  // IE9 only
  -o-transform: translate($x, $y)
  transform: translate($x, $y)

=translate3d($x, $y, $z)
  -webkit-transform: translate3d($x, $y, $z)
  transform: translate3d($x, $y, $z)

=rotate($degrees)
  -webkit-transform: rotate($degrees)
  -ms-transform: rotate($degrees)
  // IE9 only
  -o-transform: rotate($degrees)
  transform: rotate($degrees)

=rotateX($degrees)
  -webkit-transform: rotateX($degrees)
  -ms-transform: rotateX($degrees)
  // IE9 only
  -o-transform: rotateX($degrees)
  transform: rotateX($degrees)


=rotateY($degrees)
  -webkit-transform: rotateY($degrees)
  -ms-transform: rotateY($degrees)
  // IE9 only
  -o-transform: rotateY($degrees)
  transform: rotateY($degrees)

=perspective($perspective)
  -webkit-perspective: $perspective
  -moz-perspective: $perspective
  perspective: $perspective

=perspective-origin($perspective)
  -webkit-perspective-origin: $perspective
  -moz-perspective-origin: $perspective
  perspective-origin: $perspective

=transform-origin($origin)
  -webkit-transform-origin: $origin
  -moz-transform-origin: $origin
  -ms-transform-origin: $origin
  // IE9 only
  transform-origin: $origin

// Transitions

=transition($transition...)
  -webkit-transition: $transition
  -o-transition: $transition
  transition: $transition

=transition-property($transition-property...)
  -webkit-transition-property: $transition-property
  transition-property: $transition-property

=transition-delay($transition-delay)
  -webkit-transition-delay: $transition-delay
  transition-delay: $transition-delay

=transition-duration($transition-duration...)
  -webkit-transition-duration: $transition-duration
  transition-duration: $transition-duration

=transition-timing-function($timing-function)
  -webkit-transition-timing-function: $timing-function
  transition-timing-function: $timing-function

=transition-transform($transition...)
  -webkit-transition: -webkit-transform $transition
  -moz-transition: -moz-transform $transition
  -o-transition: -o-transform $transition
  transition: transform $transition

// User select
// For selecting text on the page

=user-select($select)
  -webkit-user-select: $select
  -moz-user-select: $select
  -ms-user-select: $select
  // IE10+
  user-select: $select

=img-responsive($display: block)
  display: $display
  max-width: 100%
  // Part 1: Set a maximum relative to the parent
  height: auto
  // Part 2: Scale the height according to the width, otherwise you get stretching

// Horizontal gradient, from left to right
//
// Creates two color stops, start and end, by specifying a color and position for each color stop.
// Color stops are not available in IE9 and below.
=gradient-horizontal($start-color: #555555, $end-color: #333333, $start-percent: 0%, $end-percent: 100%)
  background-image: -webkit-linear-gradient(left, $start-color $start-percent, $end-color $end-percent)
  // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent)
  // Opera 12
  background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent)
  // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=1)
  // IE9 and down

//
// Carousel
// --------------------------------------------------
//
// Carousel
// --------------------------------------------------

// Wrapper for the slide container and indicators
.carousel
  position: relative

.carousel-inner
  position: relative
  overflow: hidden
  width: 100%
  > .item
    display: none
    position: relative
    +transition(0.6s ease-in-out left)
    // Account for jankitude on images
    > img,
    > a > img
      +img-responsive
      line-height: 1
    // WebKit CSS3 transforms for supported devices
    @media all and (#{transform-3d}), (#{-webkit-transform-3d})
      +transition-transform(0.6s ease-in-out)
      +backface-visibility(hidden)
      +perspective(1000px)
      &.next,
      &.active.right
        +translate3d(100%, 0, 0)
        left: 0
      &.prev,
      &.active.left
        +translate3d(-100%, 0, 0)
        left: 0
      &.next.left,
      &.prev.right,
      &.active
        +translate3d(0, 0, 0)
        left: 0
  > .active,
  > .next,
  > .prev
    display: block
  > .active
    left: 0
  > .next,
  > .prev
    position: absolute
    top: 0
    width: 100%
  > .next
    left: 100%
  > .prev
    left: -100%
  > .next.left,
  > .prev.right
    left: 0
  > .active.left
    left: -100%
  > .active.right
    left: 100%

// Left/right controls for nav
// ---------------------------

.carousel-control
  position: absolute
  top: 0
  left: 0
  bottom: 0
  width: $carousel-control-width
  +opacity($carousel-control-opacity)
  font-size: $carousel-control-font-size
  color: $carousel-control-color
  text-align: center
  text-shadow: $carousel-text-shadow
  background-color: rgba(0, 0, 0, 0)
  // Fix IE9 click-thru bug
  // We can't have this transition here because WebKit cancels the carousel
  // animation if you trip this while in the middle of another animation.
  // Set gradients for backgrounds
  &.left
    background: url(../images/arrow-left.png) 0 center no-repeat
    &:hover
      background: url(../images/arrow-left-hover.png) 0 center no-repeat
  &.right
    left: auto
    right: 0
    background: url(../images/arrow-right.png) 100% center no-repeat
    &:hover
      background: url(../images/arrow-right-hover.png) 100% center no-repeat

  // Hover/focus state
  &:hover,
  &:focus
    outline: 0
    color: $carousel-control-color
    text-decoration: none
    +opacity(0.9)
  // Toggles
  .icon-prev,
  .icon-next,
  .glyphicon-chevron-left,
  .glyphicon-chevron-right
    position: absolute
    top: 50%
    margin-top: -10px
    z-index: 5
    display: inline-block
  .icon-prev,
  .glyphicon-chevron-left
    left: 50%
    margin-left: -10px
  .icon-next,
  .glyphicon-chevron-right
    right: 50%
    margin-right: -10px
  .icon-prev,
  .icon-next
    width: 20px
    height: 20px
    line-height: 1
    font-family: serif
  .icon-prev
    &:before
      content: '\2039'
      // SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
  .icon-next
    &:before
      content: '\203a'
      // SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)

// Optional indicator pips
//
// Add an unordered list with the following class and add a list item for each
// slide your carousel holds.

.carousel-indicators
  position: absolute
  bottom: 10px
  left: 50%
  z-index: 15
  width: 60%
  margin-left: -30%
  padding-left: 0
  list-style: none
  text-align: center
  li
    display: inline-block
    width: 10px
    height: 10px
    margin: 1px
    text-indent: -999px
    border: 1px solid $carousel-indicator-border-color
    border-radius: 10px
    cursor: pointer
    // IE8-9 hack for event handling
    //
    // Internet Explorer 8-9 does not support clicks on elements without a set
    // `background-color`. We cannot use `filter` since that's not viewed as a
    // background color by the browser. Thus, a hack is needed.
    // See https://developer.mozilla.org/en-US/docs/Web/Events/click#Internet_Explorer
    //
    // For IE8, we set solid black as it doesn't support `rgba()`. For IE9, we
    // set alpha transparency for the best results possible.
    background-color: #000 \9
    // IE8
    background-color: rgba(0, 0, 0, 0)
    // IE9
  .active
    margin: 0
    width: 12px
    height: 12px
    background-color: $carousel-indicator-active-bg

// Optional captions
// -----------------------------
// Hidden by default for smaller viewports
.carousel-caption
  position: absolute
  left: 15%
  right: 15%
  bottom: 20px
  z-index: 10
  padding-top: 20px
  padding-bottom: 20px
  color: $carousel-caption-color
  text-align: center
  text-shadow: $carousel-text-shadow
  & .btn
    text-shadow: none
    // No shadow for button elements in carousel-caption

// Scale up controls for tablets and up
@media screen and (min-width: $screen-sm-min)
  // Scale up the controls a smidge
  .carousel-control
    .glyphicon-chevron-left,
    .glyphicon-chevron-right,
    .icon-prev,
    .icon-next
      width: $carousel-control-font-size * 1.5
      height: $carousel-control-font-size * 1.5
      margin-top: $carousel-control-font-size / -2
      font-size: $carousel-control-font-size * 1.5
    .glyphicon-chevron-left,
    .icon-prev
      margin-left: $carousel-control-font-size / -2
    .glyphicon-chevron-right,
    .icon-next
      margin-right: $carousel-control-font-size / -2
  // Show and left align the captions
  .carousel-caption
    left: 20%
    right: 20%
    padding-bottom: 30px
  // Move up the indicators
  .carousel-indicators
    bottom: 20px
