.form__wrapper, .pageload
	display: none
	z-index: 100
	position: relative
	.overlay
		width: 100%
		height: 100%
		position: fixed
		top: 0
		left: 0
		background-color: $color-black
		@include opacity(0.8)
		z-index: 99
	.form__inner
		border-top: 5px solid $color-orange
		position: fixed
		left: 0
		right: 0
		top: 0
		bottom: 0
		margin: auto
		z-index: 100
		text-align: center
		padding: 30px
		width: 100%
		max-width: 450px
		max-height: 690px
		height: auto
		background-color: $color-white
		overflow-y: scroll
		@include breakpoint(sm)
			max-height: 550px
			padding: 30px 15px
			overflow-y: scroll
		h4
			@include font-semibold()
			@include font-size(22)
			line-height: 24px
			@include breakpoint(sm)
				@include font-size(18)
				line-height: normal
		label
			@include font-size(18)
		input
			appearance: none
			-moz-appearance: none
			-webkit-appearance: none
			@include font-size(16)
			&[type=text]
				width: 100%
				height: 50px
				padding: 10px
				border: 1px solid $color-input-border

			&[type=submit]
				border-radius: 5px
				border: 1px solid $color_border-grey
				padding: 15px 50px
				margin: 15px auto
				@include font-size(14)

				cursor: pointer

				background-color: $color-orange
				color: $color-white
				text-transform: uppercase
				@include font-semibold()
				&:hover, &:active
					text-decoration: underline


		textarea
			@include font-size(16)
			padding: 10px
			width: 100%
			height: 90px
			border: 1px solid $color-input-border
			resize: none
			@include breakpoint(sm)
				width: 100%
				height: 50px


	.content__row
		width: 100%
		padding: 10px 0
		border-bottom: 1px solid $color_border-grey
		&.error
			input, textarea
				border-color: $color-red
		.content__column
			width: 100%
			padding: 5px 0
			text-align: left

	.text
		@include font-size(14)
		line-height: normal
	.close
		position: absolute
		top: 0
		right: 0
		padding: 10px
		font-size: 0
		cursor: pointer
.pageload
	.form__inner
		background: none
		max-height: 680px
		max-width: 780px
		padding: 0 0 30px
		.img__wrapper
			width: 100%
			background-color: #b1c5cc
			img
				width: 70%
				display: block
				margin: 0 auto
		.txt
			padding: 30px 40px 50px
			background-color: $color-white
			@include font-size(16)
			line-height: normal
			@include breakpoint(sm)
				padding: 30px 15px 50px

.message-wrapper
	display: none
	z-index: 100
	position: relative
	.overlay
		width: 100%
		height: 100%
		position: fixed
		top: 0
		left: 0
		background-color: $color-black
		@include opacity(0.8)
		z-index: 99
	.form__inner

		border-top: 5px solid $color-orange
		position: fixed
		left: 0
		right: 0
		top: 0
		bottom: 0
		margin: auto
		z-index: 100
		text-align: center
		padding: 50px 30px
		width: 100%
		max-width: 450px
		height: 320px
		background-color: $color-white
		> div
			display: table
			height: 100%
	.txt
		display: table-cell
		vertical-align: middle
	.close
		position: absolute
		top: 0
		right: 0
		padding: 10px
		font-size: 0
		cursor: pointer


.j-wrapperFormSuccess
	display: none
	padding-top: 30px

.j-wrapperFormError
	display: none
	padding-top: 30px


/* ====================================
   ReCaptcha style
   ==================================== */
.g-recaptcha > div
	margin: 0 auto
