.selectric-wrapper
  position: relative
  cursor: pointer

.selectric-responsive
  width: 100%

.selectric
  border: 1px solid $color_border-grey
  background: none
  position: relative
  .label
    display: block
    white-space: nowrap
    overflow: hidden
    text-align: left
    text-overflow: ellipsis
    +font-size(12)
    line-height: 38px
    color: $greyInput
    padding: 7.5px 0 0 10px
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
  .button
    display: block
    position: absolute
    right: 0
    top: 17px
    padding-right: 8px
    color: #BBB
    text-align: center
    +font-size(20)

.selectric-focus .selectric
  border-color: #aaaaaa

.selectric-hover .selectric
  border-color: #c4c4c4
  .button
    color: #a2a2a2
    &:after
      border-top-color: #a2a2a2

.selectric-open
  z-index: 9999
  .selectric
    border-color: $user-gray
  .selectric-items
    display: block

.selectric-disabled
  filter: alpha(opacity = 50)
  opacity: 0.5
  cursor: default
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none

.selectric-hide-select
  position: relative
  overflow: hidden
  width: 0
  height: 0
  select
    position: absolute
    left: -100%
  &.selectric-is-native
    position: absolute
    width: 100%
    height: 100%
    z-index: 10
    select
      position: absolute
      top: 0
      left: 0
      right: 0
      height: 100%
      width: 100%
      border: none
      z-index: 1
      box-sizing: border-box
      opacity: 0

.selectric-input
  position: absolute !important
  top: 0 !important
  left: 0 !important
  overflow: hidden !important
  clip: rect(0, 0, 0, 0) !important
  margin: 0 !important
  padding: 0 !important
  width: 1px !important
  height: 1px !important
  outline: none !important
  border: none !important
  *font: 0/0 a !important
  background: none !important

.selectric-temp-show
  position: absolute !important
  visibility: hidden !important
  display: block !important


.selectric-items
  display: none
  position: absolute
  top: 100%
  left: 0
  border: 1px solid #e6e6e6
  z-index: 999
  background-color: $color-white
  .selectric-scroll
    height: 100%
    overflow: auto

.selectric-above .selectric-items
  top: auto
  bottom: 100%

.selectric-items
  ul
    list-style: none
    padding: 0
    margin: 0
    +font-size(12)
    line-height: 20px
    min-height: 20px
  li
    list-style: none
    padding: 0
    margin: 0
    +font-size(12)
    +font-regular
    line-height: 20px
    min-height: 20px
    display: block
    padding: 10px
    color: $greyInput
    cursor: pointer
    text-align: left
    border-bottom: 1px solid #e6e6e6
    &:last-child
      border: none
    &.selected
      background: #e6e6e6
      color: #444
    &.highlighted
      background: #e6e6e6
      color: #444
    &:hover
      background: #e6e6e6
      color: #444
  .disabled
    filter: alpha(opacity = 50)
    opacity: 0.5
    cursor: default !important
    background: none !important
    color: #666 !important
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
  .selectric-group
    .selectric-group-label
      font-weight: bold
      padding-left: 10px
      cursor: default
      -webkit-user-select: none
      -moz-user-select: none
      -ms-user-select: none
      user-select: none
      background: none
      color: #444
    &.disabled li
      filter: alpha(opacity = 100)
      opacity: 1
    li
      padding-left: 25px
